.DS_Store
.htpasswd
awstats/awstats*.txt
conf_up_in_karenpitts/*
go-up-to-home-overpop/gaias.procmailrc
go-up-to-home-overpop/procmail.txt
go-up-to-home-overpop/0.procmailrc
logs/*
settings_overrides.php
settings_overrides.pl
hide_from_git/*
sseeccuurriittyy/*
popnews_bkp/*
popnews_inbox/*
popnews_mail/*
popnews_mail_save/*
subdomains/*.idx
subdomains/data_check/*
subdomains/mobile/index.html
subdomains/karenpittsMac.yes
subdomains/www/.htaccess.swp
subdomains/www/*.html
subdomains/www/PopBasics/
subdomains/www/US/
!volunteers.html
subdomains/www/*.htm
!subdomains/www/volunteers.html
*.bak
*.bkp
subdomains/www/autosubmit/control/count.txt
subdomains/www/autosubmit/control/sections_save.html
subdomains/www/autosubmit/control/sections_bkp.html
subdomains/www/autosubmit/elists/*.elist
subdomains/www/autosubmit/itemsSave/*
subdomains/www/autosubmit/itemsBkp/*
subdomains/www/autosubmit/popmail/*
subdomains/www/autosubmit/deleted/*.del
subdomains/www/autosubmit/items/*
subdomains/www/autosubmit/items/*.itm
subdomains/www/autosubmit/log/*
subdomains/www/autosubmit/sections/*.idx
subdomains/www/autosubmit/sections_Backup_prod_2012-08-09/*
subdomains/www/autosubmit/sections/*.bak
subdomains/www/autosubmit/sections/*.cnt
subdomains/www/autosubmit/sections/*.cnt.cnt
subdomains/www/autosubmit/sepmail/*
subdomains/www/autosubmit/status/027841.saveold
subdomains/www/autosubmit/templates/*.mid
subdomains/www/autosubmit/templatesMid/*.mid
subdomains/www/autosubmit/volunteerEmail.txt
subdomains/www/cgi-bin/_save/*
subdomains/www/cgi-bin/_git_hold*
subdomains/www/cgi-bin/bk_*
subdomains/www/cgi-bin/bkp_*
subdomains/www/cgi-bin/email/*
subdomains/www/cgi-bin/controlfiles_empty.pl
subdomains/www/cgi-bin/db_controlfiles_empty.pl
subdomains/www/cgi-bin/misc_dbtables_empty.pl
subdomains/www/cgi-bin/new_changes_maybe*
subdomains/www/cgi-bin/new_mod*
subdomains/www/cgi-bin/not_used*
subdomains/www/cgi-bin/save_*
subdomains/www/cgi-bin/test/*
subdomains/www/clock/*
subdomains/www/counter/_save/*
subdomains/www/counter/*.txt
subdomains/www/css/old_*
subdomains/www/cswp/*.htaccess
subdomains/www/img/*
subdomains/www/img/imagesNew/*.jpg
subdomains/www/img/whatworks/*.jpg
subdomains/www/img/whatworks/*.tif
subdomains/www/img/whatworks/*.tiff
subdomains/www/mail-list/Gregs/*
subdomains/www/mail-list/_save/*
subdomains/www/mauve*
subdomains/www/maidu/*
subdomains/www/Maidu_webpage/*
subdomains/www/Maidu_webpage/*.php
subdomains/www/media_PowerPoint_movies/*
subdomains/www/pdfs_documents/*
subdomains/www/*.csv
subdomains/www/php/not_used/*
subdomains/www/php/_save/*
subdomains/www/popnews_nodupmail/*
subdomains/www/popnews_sepmail/*
subdomains/www/prepage/maidu/*
subdomains/www/prepage/cswp_index.php
subdomains/www/prepage/_save/*
subdomains/www/prepage/*.bkup
subdomains/www/prepage/*.html
subdomains/www/prepage/*.txt
subdomains/www/slideshow/*
subdomains/www/star.jpg
subdomains/www/telana-index.php
subdomains/www/woa.css
subdomains/www/woatest.css
subdomains/www/www.tmproj
subdomains/www/autosubmit/control/contributors.1orig
subdomains/www/autosubmit/control/contributors.orig
subdomains/www/autosubmit/control/contributors_old.html
subdomains/www/autosubmit/control/editors.html
subdomains/www/autosubmit/control/users.html
subdomains/www/autosubmit/controlExport/contributors.html
subdomains/www/autosubmit/controlExport/editors.html
subdomains/www/autosubmit/controlExport/users.html
subdomains/www/autosubmit/control_Bkp/contributors_bkp.html
subdomains/www/autosubmit/control_Bkp/editors.html
subdomains/www/autosubmit/control_Bkp/users.html
subdomains/www/autosubmit/database_sql/create_docitems.sql
subdomains/www/autosubmit/status/solutions.busy
subdomains/www/cgi-bin/contactWOA_notused.pl
subdomains/www/cgi-bin/contributor_old.pl
subdomains/www/cgi-bin/docitem_save.pl
subdomains/www/cgi-bin/indexes_save.pl
subdomains/www/autosubmit/sections/Archives2007Aug-2006Sep