.DS_Store
settings_overrides.pl
settings_overrides.php
.htpasswd
awstats/awstats*.txt
logs/*
popnews_bkp/*
popnews_inbox/*
popnews_mail/*
popnews_mail_save/*
sseeccuurriittyy/rsyncpwd
subdomains/mobile/index.html
subdomains/karenpittsMac.yes
subdomains/www/.htaccess.swp
subdomains/www/*.html
subdomains/www/*.htm
*.bak
*.bkp
subdomains/www/autosubmit/elists/*.elist
subdomains/www/autosubmit/itemsSave/*
subdomains/www/autosubmit/popmail/*
subdomains/www/autosubmit/deleted/*.del
subdomains/www/autosubmit/items/*.itm
subdomains/www/autosubmit/sections/*.idx
subdomains/www/autosubmit/sections/*.cnt
subdomains/www/autosubmit/sepmail/*
subdomains/www/autosubmit/volunteerEmail.txt
subdomains/www/cgi-bin/_save*
subdomains/www/cgi-bin/bk_*
subdomains/www/cgi-bin/bkp_*
subdomains/www/cgi-bin/email/*
subdomains/www/cgi-bin/new_changes_maybe*
subdomains/www/cgi-bin/new_mod*
subdomains/www/cgi-bin/not_used*
subdomains/www/cgi-bin/save_*
subdomains/www/cgi-bin/test/*
subdomains/www/clock/*
subdomains/www/counter/count.txt
subdomains/www/css/old_*
subdomains/www/img/imagesNew/*.jpg
subdomains/www/img/whatworks/*.jpg
subdomains/www/img/whatworks/*.tif
subdomains/www/img/whatworks/*.tiff
subdomains/www/mail-list/Gregs/*
subdomains/www/mauve*
subdomains/www/media_PowerPoint_movies/*
subdomains/www/*.csv
subdomains/www/php/not_used/*
subdomains/www/popnews_nodupmail/*
subdomains/www/popnews_sepmail/*
subdomains/www/prepage/maidu/*
subdomains/www/prepage/*.bkup
subdomains/www/prepage/*.html
subdomains/www/prepage/*.txt
subdomains/www/slideshow/*
subdomains/www/telana-index.php
subdomains/www/woa.css
subdomains/www/woatest.css
subdomains/www/www.tmproj
settings_overrides.php

settings_overrides.pl
