.DS_Store
awstats/awstats*.txt
logs/*
popnews_bkp/*
popnews_inbox/*
popnews_mail/*
popnews_mail_save/*
subdomains/mobile/index.html
subdomains/karenpittsMac.yes
subdomains/www/.htaccess.swp
subdomains/www/*.html
subdomains/www/*.htm
*.bak
*.bkp
subdomains/www/autosubmit/elists/*.elist
subdomains/www/autosubmit/itemsSave/*
subdomains/www/autosubmit/popmail/*
subdomains/www/autosubmit/sepmail/*
subdomains/www/autosubmit/volunteerEmail.txt
subdomains/www/cgi-bin/_save*
subdomains/www/cgi-bin/bk_*
subdomains/www/cgi-bin/bkp_*
subdomains/www/cgi-bin/new_changes_maybe*
subdomains/www/cgi-bin/new_mod*
subdomains/www/cgi-bin/not_used*
subdomains/www/cgi-bin/save_*
subdomains/www/cgi-bin/test/*
subdomains/www/clock/*
subdomains/www/css/old_*
subdomains/www/mail-list/Gregs/*
subdomains/www/mauve*
subdomains/www/media_PowerPoint_movies/*
subdomains/www/*.csv
subdomains/www/php/not_used/*
subdomains/www/popnews_nodupmail/*
subdomains/www/popnews_sepmail/*
subdomains/www/prepage/maidu/*
subdomains/www/prepage/CSWP_Calendar.html
subdomains/www/prepage/CSWPcalendar.html
subdomains/www/prepage/Contraception.txt
subdomains/www/prepage/Population Control.txt
subdomains/www/prepage/USpopulation.html
subdomains/www/prepage/WOApg2Top.html
subdomains/www/prepage/aboutGAIA.bkup
subdomains/www/prepage/aboutOverPop.html
subdomains/www/prepage/calendar_old.html
subdomains/www/prepage/cswpEvents.html
subdomains/www/prepage/cswp_select2delete.html
subdomains/www/prepage/emailed.html
subdomains/www/prepage/headlines.html
subdomains/www/prepage/headlinesPriority.html
subdomains/www/prepage/impacts_js.html
subdomains/www/prepage/macserver.txt
subdomains/www/prepage/menu.bkup
subdomains/www/prepage/menu_save.html
subdomains/www/prepage/newsMidColumn.html
subdomains/www/prepage/newsScan.html
subdomains/www/prepage/newsalerts.html
subdomains/www/prepage/newsheadlines.html
subdomains/www/prepage/newsindex.html
subdomains/www/prepage/newsmobile.html
subdomains/www/prepage/overpopulation.txt
subdomains/www/prepage/pointsSolutions.html
subdomains/www/prepage/pop-sustainability.html
subdomains/www/prepage/popnewsEmailAd.html
subdomains/www/prepage/suggested.html
subdomains/www/prepage/summarized.html
subdomains/www/prepage/sustainability_js.html
subdomains/www/prepage/volntrNewArticle.html
subdomains/www/slideshow/*
subdomains/www/telana-index.php
subdomains/www/woa.css
subdomains/www/woatest.css
subdomains/www/www.tmproj
