<body bgcolor="FFFFFF" link="#006000" vlink="#000080" alink="#000080">

<form method="post" name="" action=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl">
<input type="hidden" name="cmd"  value="adminlogin">
<p>

<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<TABLE border=1 cellpadding=5 cellspacing=0><TR><TD>

<font size="2" face="arial">
<b>Please enter your:</b>
<br>

<table>
<td align=right valign=top>
<font face=arial size=2>userID #
</td>

<td>  <input type="input" name="userid" size="10" maxlength="10"></font>
<tr>
<td valign="top"><font size=2 face=arial>password</font>

</td>

<td valign=top>  <input type="password" name="pin" size="10" maxlength="10"></font>
</td>
<br> <font size="1" face="arial">(case sensitive)</font>
</td></table>
<p>
<center>
<input type="submit" value="GO" name="submit">
</center>
</TD></TABLE></center>
</form>
</body>
</html>