<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>WOA!! Volunteer Application</title>

<style>
	html {background-color:#969;}
	body {font-size: 1.0em; color: #050505; background-image:newspaperBG2.gif;}
	h1   {font-family:arial;font-size:20px;font-weight:bold;color:##712E82;text-align:center;}
	b    {font-family: verdana;font-size:12px;font-weight:bold;}
	table tr td {font-size:100%; font-family:arial;vertical-align:top; padding:0;margin:0;}
	cite  {font-family:arial; font-size:11px; font-style: normal; display: inline;}
	span  {font-family:verdana; font-size:10px;vertical-align:text-middle; }
	label {font-family:arial; font-size:12px;}
	input, textarea {font-size:12px; font-family: arial; border: 1px solid #ccc; background: #fff; }
	input.submit {border:1px solid #000000;font-family:Arial,Helvetica,sans-serif; font-size:11px;font-weight:bold;background-color:#fcf;}
	select {font-size: 12px; font-family: arial; border: 1px solid #ccc; background: #fff;}
	p     {font-family:arial font-size:12px;}
	.grey {color:#666666;}
	cite.verdana {font-family:verdana;}
	.textmiddle {font-size:100%; vertical-align:middle; padding:0;margin:0;}
	.hide {visibility:hidden;}
	div#hiddenregion {border: 2px solid #ccc; margin-left:4px; padding:5px;visibility:hidden;}
	div#hiddensource {border: 2px solid #ccc; margin-left:8px; padding:5px;visibility:hidden;}
	div#hiddenacronym {border: 2px solid #ccc; margin-left:8px; padding:5px;visibility:hidden;}
	div#sectsub {border: 2px solid #ccc; margin-left:8px; padding:5px;visibility:hidden;}
	</style>

</head>
<body bgcolor="FFFFFF" link="#006000" vlink="#000080" alink="#000080">
		
<TABLE width='95%' border='0' align='center'>
<TR>
<TD width="15%">
	<TABLE border='1' cellspacing='1' cellpadding='15' bordercolor='#AFOF00'>
	<TR><TD>	
	<cite>&nbsp; Already signed up? &nbsp;&nbsp; Sign in:</cite><br>
	<form method="post" name="" action="http://[SCRIPTPATH]/article.pl">
	<input type="hidden" name="form" value="apptop">        <!-- editor or user -->
	<input type="hidden" name="cmd"  value="login_volunteer">
	<input type="hidden" name="opax"  value="[OPAX]">
		
	<label>&nbsp;User ID: </label>
	<input type="input" name="userid" size="10" maxlength="10" value="">&nbsp;
	<label>password:</label> <input type="password" name="upin" size="10" maxlength="10">&nbsp;<br>
	   &nbsp;<input class="submit" type="submit" value="Sign In" name="submit">
	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <cite>(both case sensitive)</cite>
    </form>
	</TD></TR></TABLE>
</TD>
<TD colspan=3 width='70' align='center' valign='top'>
	<br><font size=4 face=verdana color=#336666>World Overpopulation Awareness (WOA!!)</font>
	<br><font size=4 face=verdana color=#336666>World Population Awareness</font>
	<br><br>
	</TD>
<TD width="15%">&nbsp;
</TD>
<TR><TD valign=top width=37%>
<div style="border:1px solid grey;">
<center><font size=5 face=verdana color=brown>WOA!! Volunteer Signup</font>
<br>
<br><font size=3 face=verdana><b>Please sign up only if you want<br> to help World Population Awareness</b></font>
<form method="post" name="" action=
"http://[SCRIPTPATH]/article.pl">
<input type="hidden" name="form" value="app">
<input type="hidden" name="cmd"  value="do_editoracct">
<input type="hidden" name="uid"  value="[uid]">
<input type="hidden" name="opax"  value="[OPAX]">

<table bgcolor="FFFFFF" cellspacing=0 cellpadding=5 width=95%>

<tr>
<td colspan=2 align=center><font size=1 face=verdana><a href="summarization.html">
If you are interested in article summarization, check out<br> 
summarization guidelines on the left before signing up<br><br></font>
</td></tr>

<tr>
<td align=right>
<font size=3 color=red>*</font>&nbsp;<label>Email: </label></td>
<td><input type="input" name="uemail" size="25" maxlength="45" value="[uemail]">
</td></tr>

<tr>
<td align=right>
<font size=3 color=red>*</font>&nbsp;<label>Name:</label>  <span>first</span>
</td>
<td style="vertical-align:top;"> <input type="input" name="ufirstname" size="25" maxlength="30" value="[ufirstname]"> &nbsp;<span>middle</span>
	<input type="input" name="umiddle" size="1" maxlength="2" value="[umiddle]">
</td></tr>

<tr><td align=right>

<font size=1 face=verdana>last 
</td>
<td><input type="input" name="ulastname" size="25" maxlength="30" value="[ulastname]"></font>&nbsp;
	<font size='1' face=verdana>handle <input type="input" name="uhandle" size="3" maxlength="6" value="[uhandle]"> 2-4 chars</font>
</td></tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr>
<td align=right class="textmiddle"> City:</td>

<td> <font face=arial size=2> <input type="input" name="ucity" size="20" maxlength="45" value="[ucity]">	&nbsp;
		<font size='1' face=verdana>Addr <input type="input" name="uaddr" size="20" maxlength="32" value="[uaddr]"></font>
</td></tr>

<tr>
<td align=right class="textmiddle"> <font size=3 color=red>*</font>&nbsp;<font face=arial size=2>State/Country: 

</td>
<td> <font face=arial size=2> <input type="input" name="ustate" size="20" maxlength="2" value="[ustate]">&nbsp;&nbsp;
 <font face=arial size=2>Zip: <font face=arial size=2> <input type="input" name="uzip" size="9" maxlength="10" value="[uzip]"> 
 </td></tr>

<tr>
<td align=right class="textmiddle">
 <font face=arial size=2>Phone:
 </td><td>
 <input type="input" name="uphone" size="15" maxlength="35" value="[uphone]">
</td></tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr>
<td align=right class="textmiddle">
<font size=3 color=red>*</font>&nbsp;<font face=arial size=2>User ID:</font> 
</td>

<td><input type="input" name="userid" size="10" maxlength="10" value="[userid]"></font>
&nbsp;&nbsp;<font size=1 face=arial>Choose an id for yourself: 4-10 characters
</td></tr>

<tr>
<td align=right>
<font size=3 color=red>*</font>&nbsp;<font face=arial size=2>Password:</font> 

</td>
<td><input type="input" name="upin" size="10" maxlength="10" value="[upin]"></font>
&nbsp;&nbsp;<font size=1 face=arial>Choose a password for yourself: 4-10 chars
</td></tr>

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr>
<td align=right>
<font size=3 color=red>*</font>&nbsp;<font face=arial size=2>Reason:</font> 

<br>
<font size=1 face=arial>Why do you <br>want to help? 
</td>
<td valign=top>
<font size=2 face=arial>
<textarea name="ucomment" wrap="physical" rows="3" cols="40" maxrows="7">[ucomment]</textarea><br>
If you are volunteering for Section Editor or Special Assignment, please include what section or what assignment in the Reasons box.</font>
</td></tr>

<tr>
<td colspan=2><br><br>
<font size=3 color=red>*(REQUIRED)</font>&nbsp;<font face=arial size=3>What would you like to do to help WOA!! slow population? Check one or more:</td>
<td>&nbsp;</td></tr>
<!-- <tr><td align=right><input name="xxx" size="2" maxlength="2" value="[upayrole]" type="input"></td</tr>  -->
<tr><td align=right><input name="upayrole" value="S" type="checkbox" [CHECKED=S]></td><td><font size=2 face=verdana>
Summarize articles <font size=1>(choose from a list of articles and summarize using online form) </td>
	
<!-- <tr><td align=right><input type=checkbox name="payrole" value="n"[CHECKED=n]></td><td><font size=2 face=verdana>News Mining - send us news articles you found</td> -->
<!-- <tr><td align=right><input type=checkbox name="payrole" value="N"[CHECKED=N]></td><td><font size=2 face=verdana>News Link Chasing - News Mining from links we provide</td> -->
</tr>

<tr><td align=right><input type=checkbox name="payrole" value="d"[CHECKED=N]></td><td><font size=2 face=verdana>Maintain and enhance WOA!!s glossary/dictionary</td>
</tr>
<tr><td align=right><input type=checkbox name="upayrole" value="s"[CHECKED=s]></td><td><font size=2 face=verdana>Section Editor: manage a WOA!! webpage section <font size=1>(no technical skills needed; must be well-experienced in population/sustainability matters. Please say which Section in Reasons box above)</td>
	
</tr><tr><td align=right><input type=checkbox name="upayrole" value="a"[CHECKED=a]></td><td><font size=2 face=verdana>Special Assignment: see list in the middle column<font size=1>(no technical skills needed; must be well-experienced in population/sustainability matters. Please say which Assignment in Reasons box above)</td>
		
</tr><tr><td align=right><input type=checkbox name="upayrole" value="p"[CHECKED=p]></td><td><font size=2 face=verdana>Create online Powerpoint presentations</td>
<tr><td align=right><input type=checkbox name="upayrole" value="g" [CHECKED=g]></td><td><font size=2 face=verdana>Create web graphics</td>
</td></tr>

<tr><td colspan=2>
<input class="submit" type="submit" value="[APPLY_CHANGE]" name="submit"></font><br><br>

<font face=arial size=3 color=red>* Items marked with a red asterisk are required or subject to refusal</font>
<p>
<font size=2 face="comic sans ms">Your information will not be used for advertising or given or sold to others.</font>
</td></tr>
</table>
</div>
<br><br>
<div[HIDEDIV]>
	
<table bgcolor="FFFFFF" cellspacing=0 cellpadding=5 width=95%>
<tr>
<td align='right'>
 <font face=arial size=2>Approved:
 </td><td><font face=arial size=2>
<input type="radio" name="uapproved" value="1" [APPROVED_CHECKYES]> Yes <input type="radio" name="uapproved" value="0" [APPROVED_CHECKNO]> No </font>&nbsp;&nbsp;&nbsp;<input type="checkbox" name="deleteuser"  size="1" maxlength="1" value="[deleteuser]">&nbsp;<font face=arial size=2>Delete user?</font>
	</td></tr>
<tr>
<td align='right'>
 <font face=arial size=2>Dates:
 </td><td><font face=arial size=2>
&nbsp;uLast&nbsp;<input type="input" name="ulastdate"  size="8" maxlength="8" value="[ulastdate]">&nbsp;
eCreate&nbsp;<input type="input" name="e_created_on"  size="8" maxlength="8" value="[e_created_on]"><br>
cCreate&nbsp;<input type="input" name="c_created_on"  size="8" maxlength="8" value="[c_created_on]">
</font>
	</td></tr>
<tr>
<td align='right'>
	 <font face=arial size=2>UID:</font>
</td><td><font face=arial size=2>[uid]</font>
</td></tr>
<tr>
<td align='right'>
 <font face=arial size=2>Access:
 </td><td>
<input type="input" name="uaccess"  size="1" maxlength="1" value="[uaccess]">
</td></tr>

<tr>
<td align=right>
 <font face=arial size=2>Permissions:
 </td><td>
<input type="input" name="upermissions"  size="40" maxlength="60" value="[upermissions]">
</td></tr>

</table>

<center><font size='5' face='verdana' color='brown'>Contributor Parameters</font></center>

<table cellspacing=0 cellpadding=5 width=52%>	
	<tr>
	<td align=right>
	 <font face=arial size=2>blanks&nbsp;
	 </td><td>
	 <input type="input" name="ublanks" size="1" maxlength="1" value="[ublanks]">
	</td>
	</tr><tr>
	<td align=right>
	 <font face=arial size=2>separator&nbsp;
	 </td><td>
	 <input type="input" name="useparator" size="20" maxlength="20" value="[useparator]">
	</td>
	</tr><tr>
	<td align=right>
	 <font face=arial size=2>locsep&nbsp;
	 </td><td>
	 <input type="input" name="ulocsep" size="40" maxlength="40" value="[ulocsep]">
	</td>
	</tr><tr>
	<td align=right>
	 <font face=arial size=2>skipon&nbsp;
	 </td><td>
	 <input type="input" name="uskipon" size="40" maxlength="50" value="[uskipon]">
	</td>
	</tr><tr>
	<td align=right>
	 <font face=arial size=2>skipoff&nbsp;
	 </td><td>
	 <input type="input" name="uskipoff" size="40" maxlength="50" value="[uskipoff]">
	</td>
	</tr><tr>
	<td align=right>
	 <font face=arial size=2>skip&nbsp;
	 </td><td>
	 <input type="input" name="uskip" size="40" maxlength="50" value="[uskip]">
	</td>
	</tr><tr>	
	<td align=right>
	 <font face=arial size=2>empty&nbsp;
	 </td><td>
	 <input type="input" name="uempty" size="15" maxlength="15" value="[uempty]">
	</td>
		</tr><tr>
	<td align=right>
	 <font face=arial size=2>dateloc&nbsp;
	 </td><td>
	 <input type="input" name="udateloc" size="40" maxlength="40" value="[udateloc]">
	</td>
		</tr><tr>
	<td align=right>
	 <font face=arial size=2>dateformat&nbsp;
	 </td><td>
	 <input type="input" name="udateformat" size="40" maxlength="50" value="[udateformat]">
	</td>
		</tr><tr>
	<td align=right>
	 <font face=arial size=2>headlineloc&nbsp;
	 </td><td>
	 <input type="input" name="uheadlineloc" size="40" maxlength="40" value="[uheadlineloc]">
	</td>
		</tr><tr>
	<td align=right>
	 <font face=arial size=2>sourceloc&nbsp;
	 </td><td>
	 <input type="input" name="usourceloc" size="40" maxlength="40" value="[usourceloc]">
	</td>
		</tr><tr>
	<td align=right>
	 <font face=arial size=2>singlelinefeeds&nbsp;
	 </td><td>
	 <input type="input" name="usinglelinefeeds" size="1" maxlength="1" value="[usinglelinefeeds]">
	</td>
		</tr><tr>
	<td align=right>
	 <font face=arial size=2>end&nbsp;
	 </td><td>
	 <input type="input" name="uend" size="40" maxlength="40" value="[uend]">
	</td>
		</tr></table>
</div>



</TD><TD>&nbsp;&nbsp;&nbsp;</TD>
<TD width=30%>
	<center><font size=5 face=verdana color=brown>Volunteer Help 
	Needed</font></center>
	<p>
    <font face=verdana size=2>
	<p>
	There is a whole world of population information available, and it would
	help the cause to make it readily available to the population-concerned. 
	<p>
	There are many ways you can help, some of them with WOA!, some of them with other organizations. Or just by writing your congressperson.
	<p>
	For WOA!, which is not an organization, just a web publication, you can help in the one of the following ways:

	<ol>

	<b><li><font size=4>News Summarization Editors:</font></b> Because making people aware of the problem is so-o-o important, 
	WOA! focuses on getting as much population information on it's site as possible, We have an urgent need to gather news from around the world, 
	summarize it, and put it on the web. If you have good written English skills, and a desire to learn more about population issues and to inform others, 
	then this job is for you. 
	<p>
	To sign up for summarization, apply on the form at the left.</a>
	</li>

	<p>
	<b><li><font size=4>Section Editor</font>:</b> WOA! has at least 20 sections, with more being
	added occasionally. See the left navigation bar for WOA!s various sections.
	A section editor would add news items, facts and figures, and essay
	submittals, as well as pertinent graphs and images, to his or her assigned
	section. The style of the section would be consistent with the rest of WOA!,
	but the arrangement of the section articles and links would be managed by
	the section editor. Prerequisites are some experience in WOA! News
	Summarization (#1 above) and knowledge of (or ability ot learn) basic, easy
	HTML. A good example of a Section that could be organized better is the <a target="main" href="politics.html">Politics/Funding Section</a> ... especially the bottom 2/3.</li>
	
    <p>
	<li> <b><font size=4>Special Assignments</font>:</b>
		<ul><br>
		<li><b>Help Organize WOA!!s Countries/regions Intelligence Information</b>
		WOA!! uses a rudimentary artificial intelligence to identify a country or region in an article, and what continent or region it is in. You can help by pulling country capitols and major cities, and determining their region - all to help make a more informative WOA!</li>

		<br><li><b>Help Build a Population Dictionary</b>
		WOA!! has an online dictionary/encyclopedia but we don't advertise it as it is sadly lacking in definitions. You can help by researching population terms and providing definitions for them.</li>

		</ul>
	</li>
	</ol>

	If you are interested in any of these positions (your reward will be
	self-satisfaction and the appreciation of WOA!s viewers), please 
	sign up on the form at the left.
	<p>
	If you are interested mainly in U.S. overpopulation, I can direct you to a number of organizations interested in reduction of immigration back to traditional levels (most of the population growth in the U.S. is due to immigration). Or, WOA! has a web page sections devoted to U.S. population dynamics: perhaps you would want to help out on that section.
	<p>
	If you are interested in global overpopulation (over 95% of the world's population growth occurs in the third world), <a target=_top href="http://www.populationconnection.org/">Population Connection</a> would be the place to go. 
	<p>
	<p><br>

	<center><font size=6>Artists, Cartoonists, Photographers, Writers </font></center>

	We want the issue of overpopulation to be interesting to everyone. Nowadays dry words and statistics are not enough. We can use photos, cartoons, drawings and pictures, and text that grabs. There are plenty of material on the WOA web pages that needs artistic enrichment.
	<p>
	<b><font size =4>Cartoonists</font></b><br>
	 Anything depicting overpopulation or the effects of overpopulation.
	<p>
	Cartoon Ideas:<p>

	<IMG SRC="hill.gif " border=0> 
	This would be an animated gif. The trees and animals would change one-by-one to houses, cars, factories, people.<br>
	<a href="#morecart">More cartoon ideas</a>

	<p><br>
	<b><font size =4>Photographers</font></b><br>
	People of many lands.  Also crowd scenes or other overpopulation ideas.
	<p><br>
	<b><font size =4>Graphs and Charts</font></b><br>

	Are you handy with Excel? A picture is worth a thousand words.
	<p>
	Email to: 
	<script src="http://www.population-awareness.net/counter/contact.php" type="text/javascript" language="javascript"></script>
	 <br>
	Or U.S. mail to: <script src="http://www.population-awareness.net/counter/address.php" type="text/javascript" language="javascript"></script>





</TD><TD>&nbsp;&nbsp;&nbsp;</TD>
	
<TD valign=top width=30%>

<center><font size=5 face=verdana color=brown>Article Summarization</font></center>
<p>
<font size=4 face=arial>Guidelines</font>
<p>
<font face=verdana size=2>
Before you sign up, you must apply by filling out the form on the left. It normally takes up to a week for your application to be processed.
<p>
Once you have an account, you can start summarizing. I will ask you to go slow at first so I have a chance to check out your summarization. I will probably make some corrections at first - it's a learning process.
<p>
WOA!! now runs on an on-line system for summarization called Autosubmit. 

<a href="http://www.population-awareness.net/cgi-bin/cgiwrap/popaware/article.pl?display_section%%fly%Headlines_sustainability%">Click here to see a list of article to be summarized</a>

From that list, choose an article that you want to summarize, you will see a red arrow to the right of the article - at the end. Click on the arrow.

<p>
This should bring you to a log-on form. Just enter your userid and password which you entered on the application.
<p>
Click on GO.
<p>
This should bring you to the summarization form for the article that you
choose. Please let me know if you have any problems.
<p>
Enter your summarization for the article in the box and when finished,
click on the 'SUBMIT' button. 
<p>
You should get a message saying the article has been submitted and what it would
look on the web page. Please let me know if you need to make any corrections. Do not hit BACK to go back to make corrections.
<p>
Do as many articles (or as few) as you wish.


<p>
<font size=4 face=arial>Why/How do we Summarize Population and Environmental News? </font>
<p>
The News Digest, which is on the front page of WOA!! provides a large set of
news items in summarized form for quick scanning by the population-concerned
and by those who may be just newly aware to the problems and impacts of
overpopulation. 

<p>
In addition, the WOA!! News Digest and Archives provide a valuable research
tool for those who want to check out certain facts or statistics on the
environment, sustainability, population, or family planning. 
<p>

If you would like to help WOA!! by summarizing news articles, it is important
that you retain, for each article, important statistics and facts that
researchers can use. Also look for opinions from respected researchers. Many
of the links to news articles go dead after awhile, but WOA!! will still 
retain the news summaries. 
<p>
When you summarize an article for WOA!!, one or two quotations are allowed,
but please give the source of the information. Cite publications 
so viewers can go to the library and do more research. Copy a little, but
paraphrase a lot, to avoid copyright infringement. Rearrange the order to 
emphasize sustainability and population.  Shorten paragraphs by
cutting out most descriptive words and hyperbole. Cut out unclear concepts 
or wordy explanations. Often the same thing will be said twice in the same 
article - combine or eliminate. Skip over the anecdotes or generalize from 
them.
<p>
PLEASE DO NOT ADD YOUR OWN INFORMATION OR OPINION except in the comment box. 
At any rate, I publish very few comments and there is no guarantee that I will
publish them.
<p>
Thanks! I really appreciate your offer to help.
<p>
Karen Gaia Pitts . . . <script src="http://www.population-awareness.net/counter/contact.php" type="text/javascript" language="javascript"></script>
</font>

</TD></TR></TABLE>
</form>
</body>
</html>