<input name="selitem[pgitemcnt]"  type="hidden" value='N'>
<input name="cSectsubid[pgitemcnt]"  type="hidden" value='[cSectsubid]'>
<input name="docid[pgitemcnt]"    type="hidden" value="[docid]">
<input name="action[pgitemcnt]"   type="hidden" value='new'>
<input name="headline[pgitemcnt]" type="hidden" value="[headline]">
<input name="link[pgitemcnt]"     type="hidden" value="[link]">
<input name="pubmonth[pgitemcnt]" type="hidden" value="[pubmonth]">
<input name="pubday[pgitemcnt]"   type="hidden" value="[pubday]">
<input name="pubyear[pgitemcnt]"  type="hidden" value="[pubyear]">
<input name="source[pgitemcnt]"   type="hidden" value="[source]">
<input name="region[pgitemcnt]"   type="hidden" value="[region]">
<input name="docfullbody[pgitemcnt]" type="hidden" value="[fullbody]">
<input name="sectsubs[pgitemcnt]" type="hidden" value="[sectsubs]">
<input name="note[pgitemcnt]"     type="hidden" value="[note]">

<font size=1 face="verdana","arial">
<a target="_blank" href=
[HLINK]
onClick="pushObj(document.itemsSelect.selitem[pgitemcnt],
document.itemsSelect.docid[pgitemcnt],
document.itemsSelect.headline[pgitemcnt],
document.itemsSelect.link[pgitemcnt],
document.itemsSelect.pubmonth[pgitemcnt],
document.itemsSelect.pubday[pgitemcnt],
document.itemsSelect.pubyear[pgitemcnt],
document.itemsSelect.source[pgitemcnt],
document.itemsSelect.region[pgitemcnt],
document.itemsSelect.sectsubs[pgitemcnt],
document.itemsSelect.note[pgitemcnt],
document.itemsSelect.docfullbody[pgitemcnt])">
[headline]
</a>&nbsp;[docid]</font>
<br>