<input type="hidden" name="selitem9997" value="Z">

<TABLE width=75%><TD valign=top align=left>
<font size=1 face=verdana>
<input name="selitem" type="hidden" value='N'>  
<input name="docid" type="hidden" value="">
<input name="action" type="hidden" value="N">
<input name="sectsubs" type="hidden" value="Suggested_suggestedItem">

<font face=verdana size=2 color="#666666">   <b>Headline</b></font>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size=1 face="comic sans ms" color="#666666">Headline in the linked-to web page (e.g. Grist changes the headline)</font>
&nbsp;&nbsp;&nbsp;&nbsp;
 
<input name="titlize9998" type=checkbox value="Y">
<font size=1 face="comic sans ms" color="#666666">Fix caps</font>
<br>
  <font size=1 face=verdana>
  <textarea name="headline" wrap="physical" rows=2 cols=50">[headline]</textarea>
  </font>
<p>

<table><td valign=top>
<font face=verdana size=2 color="#666666">
<b>Publish Date: </b></font>&nbsp;&nbsp;&nbsp;
<font size=1 face="comic sans ms" color="#666666">date on the article</font>

<br>
<font face=arial size=1>
<select name="pubmonth9998">
[PUBMONTHS]
</select>

<input type="text" name="pubday9998" size="3" maxlength="2" value="
[PUBDAY]
">
<select name="pubyear9998">
[PUBYEARS]
</select></font>

</td><td>&nbsp;&nbsp;&nbsp;</td><td>
<font face=verdana size=2 color="#666666">
   <b>Topic:</b></font>&nbsp;&nbsp;&nbsp;&nbsp;
   <font size=1 face="comic sans ms" color="#666666"> see examples below </font>
   <br>
<font size=1 face=verdana>
   <input type="text" name="topic[itemcnt]" size="20" rows=2 maxlength="50" value="[topic]"></font>
</td></table>

<p>
<font face=verdana size=2" color="#666666">  
    <b>Link</b></font></a> </font>  &nbsp;&nbsp;&nbsp;&nbsp;
    <font size=1 face="comic sans ms" color="#666666">address of the article (not the forwarding link address)</font>
   	<font size=1 face=verdana><br>
  <textarea name="link9998" wrap="physical" rows="2" cols=50">[link]</textarea>
  </font>
<p>
    <font face=verdana size=2 color="#666666">
  <b>Region</b>   </font> &nbsp;&nbsp;&nbsp;<font size=1 face="comic sans ms" color="#666666">
  country or region</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <font size=1 face="comic sans ms" color="#666666">Correct if needed or narrow the choices</font>
    <br>
  <font size=1 face=verdana>
  <textarea name="region9998" wrap="physical" rows="2" cols=50">[region]</textarea> 
<p> 
  <font face=verdana size=2 color="#666666">
  <b>Source</b> </font>  &nbsp;&nbsp;&nbsp;<font size=1 face="comic sans ms" color="#666666">
  who published it?</font>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font size=1 face="comic sans ms" color="#666666">Correct if needed or narrow the choices</font>
<br>
  <textarea name="source9998" wrap="physical" rows="2" cols=50">[source]</textarea>
<p>
  <font face=verdana size=2 color="#666666">
  <b>Full Article:</b> </font> &nbsp;&nbsp;&nbsp;<font size=1 face="comic sans ms" color="#666666">
  copy the full article here</font>
  <br>  <font face=verdana size=1>
  <textarea name="fullbody9998" wrap="physical" rows="17" cols=50">[fullbody]</textarea></font>

<p>
<font face=verdana size=2 color="#666666">
  <b>Summarization:</b> </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <font size=1 face="comic sans ms" color="#666666"> Optional .. No guarantee 
  that this article will be selected</font>
<br><font size=1 face=verdana>
<textarea name="body9998" wrap="physical" rows=17 maxrows=300 cols=50>
[body]
</textarea>
</font> 

<p>
<font size=1 face=verdana color="666666"><b>
Your Acct#</a></b></font><br>
<font size=1 face="verdana">
<input type="input" name="acctnum" size="6" maxlength="5"></font>
&nbsp;&nbsp;&nbsp;&nbsp;
<font face=verdana size=1"><input type=submit value="SUBMIT" name="submit"></font>

</form>
<p><br>

<font size=3 face=verdana color="#666666"><b>footnotes:</b></font><p>
<font size=2 face=verdana><b>Topic</b></font>
<br>
<font size=2 face=verdana>
Make 'topic' short - just long enough to tell what the article is about and to distinguish one article from another. 
Do not include Region in the Topic unless it is smaller than a state (a wildlife preserve, or the Rocky Mountains, 
for example) Use subject and object words and rarely action words.
<p>
<b>Examples:</b></font><font size=2 face="courier new">
<pre>
Headline                               Region      Topic 

On Climate Change, Other Nations Get   US          climate change 
Cracking While the U.S. is Slacking    

Japan Fishing Village Hopes for        Japan       fusion reactor    
Nuclear Project 

Average Age of First Birth Reaches     US          mothers age @ 1st birth
Record High of 25, CDC Report Says

Smart Smoking                          US          sprawl analogy w/smoking

EPA To Give Power Plants 15 Years      US          power plants, mercury
To Reduce Mercury Emissions; High 
Levels of Mercury Linked to Birth 
Defects  

Global Warming Kills 150,000 People    worldwide   deaths, climate change
a Year, Warns UN

Report Finds Few Benefits for Mexico   Mexico      NAFTA, jobs
in NAFTA
</pre></font>

</TD></TABLE>


