<form method="post" name="" action=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl">
<input type="hidden" name="sectsub" value="[sectsub]">
<input type="hidden" name="cmd" value="contactWOA">

<center><table><td align=left>
<font size="1" face="verdana" color="A0A0A0">
<b>email address:</b> <input type="input" name="email" size="15" maxlength="45">&nbsp;&nbsp;

<b>name:</b> <input type="input" name="username" size="20" maxlength="40"> 
<br>

<b>your message:</b>
<br><font size=2 face=arial><textarea name="usercomment" wrap="physical" rows="2" cols=45" maxlength=200>
No advertising and no SPAM here please</textarea></font>
&nbsp;&nbsp;&nbsp;&nbsp;
<font size=2><b><input type="submit" value="GO" name="submit"></B></font>
</td></table>
</form>