<!-- cswpMotherSchItem template -->
<table width="100%"><tr><td valign="top">
[STD_ITEM_TOP]
</td><td style="font-size:100%;text-align:center;">
<h6 style="text-align:center;font-size: 80%;font-family:verdana;text-align:center;color:darkblue;font-style:normal;font-weight:bold;margin-top:-1px;margin-bottom:1px;">
[ALINK]
[headline]
</a></h6><span style="font-size="100%;font-family:arial;text-align:center;">
[SUBHEADLINE]
[BODY]
[REDARROW]
</span></td></tr></table>
<!-- end cswpMotherSchItem template -->