<html><head>
<title>CSWP Login</title>
</head>
<body bgcolor="FFFFFF">
<center>
<form method="post" name="" action=
"http://[SCRIPTPATH]/article.pl">
<input type="hidden" name="from" value="cswplogin">
<input type="hidden" name="cmd"  value="processCswplogin">
<input type="hidden" name="docid" value="[docid]">
<input type="hidden" name="owner" value="cswp">

<br><br>
<center>
<TABLE width=400 border=5 cellspacing=2 cellpadding=20 
bordercolor=#AFOF00>
<TD colspan=2>
<center>
<font face="comic sans ms" size=3>CSWP Login</font>
</center>
<table>
<tr>
<td colspan=4>
<font size=1 face="verdana">
Please enter your</font></td>
<tr>

<td valign=top><font size=2 face=arial> User ID:</font></td>

<td valign="top">  <input type="input" name="userid" size="10" maxlength="10" value="[userid]"></font>
</td>

<td valign="top"><font size=2 face=arial> &nbsp;&nbsp;password:</font>

</td>

<td valign=top>  <input type="password" name="pin" size="10" maxlength="10"></font>
</td>
<tr><td align=center colspan=4><font size="1" face="arial">(both case sensitive)</font></b>
</table>

<p>

<input type="hidden" name="thisSectsub" value="[sectsubs]">
<font size="2" face="arial">
<input type="radio" name="action" value="update" checked> Change this item: <br>
<font size=1 face=arial> [docid] </font>
<b>"[headline]"</b><br>
in this list: [sectsubs]
<br><br>
<input type="radio" name="action" value="delete"> Delete this item <br><br>

<a href="http://
[SCRIPTPATH]
article.pl?print_select%%fly%%[sectsubs]%%%%delete_select_end">Delete several items from the list they are in</a><br><br>

<input type="radio" name="action" value="new"> Create a new item <br><br>

<input type="submit" value="GO" name="submit">

</font></center>
</body></html>




</TD></TABLE></center>

</form>
</body>
</html>