<div style="background-color:#F0E68C";margin-right:6px;>
<p class="comic"><b>
Your item has been submitted </b></p> 
<small> <b>docid</b>
[CSWPDOCLINK]
&nbsp; <b>created</b> [sysdate] &nbsp; <b>sorted on date: </b>[pubdate]&nbsp; <b>in list:</b> [sectsubs]&nbsp;
<br><br>
<div style="background-color:#ffffff;margin-left:6px;margin-right:6px;">
[TEMPLATE=cswpEventItem]
</div><br><br>
<b>Please do not hit your 'Back button' to correct mistakes. You can correct your item below if correction is needed.</b>
<br>
</div>
<br><br>
