<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>CSWP Admin</title>
<meta http-equiv="expires" content="0">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="css/cswp.css" media="Screen">
</head>

<body>
<style>
	.verdana {font-family:arial;font-size:85%;}
	.red {color:#DC143C;}
#leftcol {width:500px; margin: 0; padding: 0; border-right:solid 2px #d0d0d0; border-top: solid 2px #d0d0d0;vertical-align:top;}
#rightcol {width:450px; margin: 0; padding: 5px; border-top: solid 2px #d0d0d0;vertical-align:top;}
</style>

<div style="margin-left:10px;margin-right:7px;margin-bottom:5px;font-family:arial;font-size:1.0em;">

<div style="font-family:geneva;font-size:1.3em;text-align:center;"><strong>CSWP Administrative Page</strong></div>

	<table>
		<tr><td id="leftcol">
		
<!-- <iframe src="http://www.overpopulation.org/article.pl?display_section%%CSWP_agendaNotes%%%%%%%%CSWP" width="100%" height="300px"> -->
	
<h2>CSWP Quarterly Meeting Agenda and Notes</h2>

May 10, 2012<br><br>

1. Michael Brune's posted comment on global population (Kimberly Lovell)<br><br>

2. Funding for GPEP...how to keep heat on?<br><br>

3. Recent screenings of Mother...Placer Group SC, ASRA, ECOS fair(Sierra
College)..we need a dedicated projection system!!!<br><br>

4. Ooops..missed 2012 Sac City Earth Day fair...next year!<br><br>

5. Population article in current Sierra Magazine - Evan will write a letter commending Sierra magazine<br><br>

6. Recent purchases...slogans(Make Love Not Babies, Ovepopulation is
Sexually Transmitted...other possibilities incluce Breed Responsibly, World
Population...Size Matters, World's Fate is in your Hands and in Your Pants,
Family Planning...a Good Plan, Too Many Pops = Overpopulation),
roulette wheel (prizes?), metronome(ticktick)<br><br>

7. Report...meeting with Kimberly Lovell, 2/27, SF.<br><br>

8. Meet with Kathryn Phillips
- - - Did meet with Kathryn Phillips - funding is very little; Latino groups think white Sierra Club is racist - population concern is racist.<br><br>

9. Upcoming events...Whole Earth Festival, UCD, May 11,12,13...Stone Lakes
WLP, May 19,... PARC festival June 10<br><br>

10. UCD ad...Overpopulation is Sexually Transmitted...through June 10.<br><br>

11. Deadline for CSWP Bonanza articles? - Lee will do article<br><br>

12. CNRCC Population Strategies - Karen - encourage Chapters to seek out pop activists, point to CSWP as an example; CSWP members will give more support to activities on CNRCC pop email list<br><br>

13. CSWP Webpage Update (add Alert Section)<br><br>

14. Selection of a new CSWP Chair<br>
- - - Decided to have a vice chair - Karen - who will fill in when Chuck is absent.<br>
- - - Elaine volunteered to do the agenda
<br><br>
15. Pens as prizes - Roulette Wheel - Wheel was very successful. Karen suggested a 2nd wheel<br><br>

16. Spanish version of the brochure - Elaine will have them printed<br><br>

17. Vasectomies ad / Male responisbility - Virginia<br><br>

18. Funding for CSWP<br>

	</td>
    <td id="rightcol">
	<br>
        <cite class="verdana">To make a change to any of the following, click on the tiny grey button at the end of any item.</cite><br>
		<iframe src="http://overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display_section%%fly%CSWP_adminCalendar%%%%%%%%CSWP" width="100%" height="300px">You don't have frames due to using an old browser</iframe>
		<br><br>
		<b>(Appears on the CSWP front page)<br>
		<iframe src="http://overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display_section%%fly%CSWP_Calendar%%%%%%%%CSWP" width="100%" height="300px">You don't have frames due to using an old browser</iframe>
		<br><br>
		<b>Mother film schedule - Appears on the CSWP front page within the Mother ad<br>
		<iframe src="http://overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display_section%%fly%CSWP_MotherSch%%%%%%%%CSWP" width="100%" height="300px">You don't have frames due to using an old browser</iframe>
		<br><br>
		<h3>CSWP ToDo List</h3>							
    </td>

</tr></table>

</div>
</body></html>