<CENTER>
<TABLE cellpadding=0 cellspacing=0>
<TR><TD colspan=2><A href="aboutWOA.html">
<IMG src="population.jpg" alt="Cairo Market .. Jane Derry"
border=0></A></TD>
<TR><TD align=left><font size=1 face=verdana>
[TODAY]
</font>
</TD><TD align=right><FONT size=1><I>Cairo Market ... Jane Derry</I></FONT>
</TD></TABLE>
<A name="newsscan"></A>
<B><FONT size=7 color="808080">News Digest</font></B><p>
[PAGES_INDEX]
&nbsp;&nbsp;
<A target="main" href="newsScan2.html"><FONT face="verdana" size=1>Archives</font></A></CENTER>
<A target=_top href="headlines.html"><IMG src="redDot.gif" hspace=1 border=0 height=6 width=6><FONT face="verdana">
<B>NewsLines</B></font></a></FONT> 