<html>
<title>WOA!! Article Submission</title>
<head>
</head>

<body basefont=arial link="blue" vlink="blue" alink="green" bgcolor="eafaf7">

<BR><TABLE>
    <table cellpadding=0 cellspacing=0 align=right>
      <tr><td><img src="http://www.[CGISITE]/woaLogoAN.gif" hspace=20></td>
      <tr><td><center>
         <table cellpadding=0 cellspacing=0><td><a target=_top href=
          "http://www.[CGISITE]">
          <font face=arial size=2 color="#000000">
          <b>Home</b></a>&nbsp;&nbsp;</td></table>
    </td></table>

</TD><TD>
<!----- FORM BEGIN --------->

<form method="post" name="article" action=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl">

<center> 
   <b><font size="5" face=arial>
     WOA Article/Item Submittal<br></font></b>
</center>

<table><td><P>
   <font size=1 face="comic sans ms" color="#666666">
[TODAY]
[OPERATOR_NAME]
[SUMMARIZER_NAME]
[SUGGESTOR_NAME]
docid# [docid] ... sysdate [sysdate]</font>
</td>
</table>

</TD></TABLE>

<input type="hidden" name="cmd" value="storeform">
<input type="hidden" name="userid" value="[userid]">
<input type="hidden" name="access" value="[access]">
<input type="hidden" name="sumAcctnum" value="[sumAcctnum]">
<input type="hidden" name="suggestAcctnum" value="[suggestAcctnum]">
<input type="hidden" name="sysdate" value="[sysdate]">
<input type="hidden" name="docid" value="[docid]">
<input type="hidden" name="sectsubs" value="[sectsubs]">
<input type="hidden" name="ipform" value="docUpdate">


<! -------- MAIN TABLE ----->           

<table>
<td valign=top><font face="comic sans ms" size=1>
Choose style if not regular<br>
[SELECT_TEMPLATE]<br>
(Straight: summary only prints)
</font>
</td><td>&nbsp;&nbsp;	</td>

<td>
<font size=1 face="comic sans ms" color="#666666">
Use the styles control only if you want<br>
to change the regular format.
</font>
</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><font size=1 face="comic sans ms" color="#666666">
For Section Editors - normally the Publish Date, Source,<br> 
Link, Headline, and Summary are already done. Mostly You <br> 
will be  using the Sections and Subsections near the bottom.</font></td>
</table>
<!---------- DATE/SOURCE two cols ---------->
<table id=datesrc>

<td valign=top id=datecol1>

<! ---------- PUB DATE --------->
<b>Article Publish Date: </b><br> 
<select name="pubmonth">
[PUBMONTHS]
</select>

<input type="text" name="pubday" size="3" maxlength="2" value="
[PUBDAY]
">

<select name="pubyear">
[PUBYEARS]
</select>

</td>
<td> &nbsp;&nbsp; &nbsp; </td>

<td id="sourcecol2" valign=top>
    <b>Article Source :</b>&nbsp;&nbsp;
    <font size=1 face= "comic sans ms" >Publication or organization</font>
  <br>
      <input type="text" name="source size="100" maxlength="100" value="[source]">
</td>
<td> &nbsp;&nbsp; &nbsp;</td>
<td id="datesrcCaveat">
  <font size=1 face="comic sans ms" color=#666666>
  Publish date and Source are always important,<br> even if not printed i.e. style='straight'
  </font>
</td>
</table>

<!----- HEADLINE & LINK AREA -------->

<table><td valign="bottom">
<b>Article Headline:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
</td>  
</table>

<textarea name="headline" wrap="physical" rows="2" cols=80">
[headline]</textarea><br>
<font size=1 face="comic sans ms">End headline with: 
[PERIOD_RADIOS]
&nbsp;&nbsp; (Usually a period) &nbsp; &nbsp; &nbsp;

</font> 
  <input name="titlize" type=radio value="Y">
  <font size=1 face="comic sans ms"> Titlize headline. </font>
<p>

<b>Link to article <font size=2>(URL):</font>
<font size=1 face="comic sans ms"> &nbsp;(Please provide if there is a live link)</b> &nbsp;&nbsp;&nbsp;&nbsp;
   <font size=1 face=verdana>
    <input name="selflink" type=checkbox value="Y"
[SELFLINK_CHECK]
>
  <font size=1 face="comic sans ms"> self</font>&nbsp;&nbsp;
  <font size=1 face="comic sans ms" color="#666666">- links to its own full article </font>
<br>
  </font>
  
<textarea name="link" wrap="physical" rows="2" cols=80">[link]</textarea>
<p>
<! ------------- BODY, COMMENTS, FULL -- 2 COLS ----------->
<table>

<td valign=top id=bodyleft>

    <b>Summary of Article:</b> &nbsp; &nbsp; <font size=1 face="comic sans ms"> Cut and paste for more accurate results. </font><br>
<table><td>
    <textarea name="body" wrap="physical" rows=10 maxrows=150 cols=65>[body]</textarea>
    <br><font size=1 face="comic sans ms">Text will wrap. Extra spaces and
    line returns do not matter  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <input type="checkbox" name="endtable"
[CKENDTABLE]
    value="Y">  End table &nbsp;&nbsp;
</font>
<td>&nbsp;&nbsp;</td>
<td width=145>
<font size=1 face="comic sans ms" color="#666666">Some of the older items will have html (note the angle
brackets &lt; and &gt;) - best just to leave these as they are. The newer items will not have the html - or
else just very little of it. Html is usually added to the text when the web page is generated - to display things like bold,
italics, formatting, and so on.

</td></table>
<p><br>

<! ----------- SECTIONS --------->
  <b>Sections and Subsections Where This Article Will Appear:</b>
  <br><font size=1 face="comic sans ms" color="#666666">(Image control does not work)</font>
  <p>
<TABLE cellpadding=5 cellspacing=0>
  <TD valign=top>
    <table>
    <tr><td valign=top>
[CURRENT_SECTIONS]
    </td>
    <tr><td>
    <input type=submit value="SUBMIT" name="submit">
    </td></table>
    </TD><TD valign=top>
[ADD_SECTIONS]
  </TD><TD >&nbsp;&nbsp;<TD width=150>
<font size=1 face="comic sans ms" color="#666666">
<b>Stratification:</b></b><br>
Items are normally put in 'most recent goes to the top' or sometimes publish date order. 
However, occasionally we will want to have some more towards the top 
and others near the bottom. Use M for the normal way - normal items go in the middle.
Use A to go on the very top, Z to go on the very bottom, and the other letters for 
various stratus in between.
</font>  
  
  </TD>
</TABLE>

</td></table>
<p>
</table>


<!--------- END OF MAIN TABLE ------->
</form>
</font>
<p>
<br>
<br>


<hr>
<blockquote>
<p>
<font size=3 face=verdana>
<b>Sections: Normal progression of articles through the Autosubmit System</b></font><br>
<font size=1 face=arial>
(Not neccessarily every time)</font>
<p>
<table>
<tr><td valign=top><font size=2 face="arial">1. Email (for emailed items sent by <br>individuals or news clipping services)<br>
                               -or- Suggested form<br><br>
</td><td valign=top><font size=2 face="arial"> where I select the article into the database, if appropriate</td>
<tr><td valign=top><font size=2 face="arial">2. Suggested worklist<br>
       (and sometimes chaseLink list on volunteer page)<br><br></td><td valign=top><font size=2 face="arial"> where we process it for date, source, and various other corrections</td>
<tr><td valign=top><font size=2 face="arial">3. Headlines <br><br></td><td valign=top><font size=2 face="arial"> where it stays until someone summarizes it</li>
<tr><td valign=top><font size=2 face="arial">4. Summarized worklist<p></td><td valign=top><font size=2 face="arial"> where it waits for me to review and then send to the News Digest <br>
    and the appropriate section</td>
<tr><td valign=top><font size=2 face="arial">5a. News Digest ---> 6. News Archives</td><td>&nbsp;</td>
<tr><td valign=top><font size=2 face="arial">5b. Section organized by topic <br>
(i.e. India or Sustainability or Birth Control)</td><td>&nbsp;</td>
</table>
<br><br><br>
<font size=3 face=verdana>
<b>Publishing Sequence</b></font><br>
<font size=2 face="arial">	
A page is displayed two different ways: dynamically and statically. Generally
the public sees the static page and someone working as a volunteer sees the dynamic page, 
which is generated on the fly so you can see your results immediately. 
<p>
An example of a dynamic URL is <br>
http://www.population-awareness.net/cgi-bin/cgiwrap/popaware/article.pl?display_section%%%India_intro%
<br>One drawback to dynamic pages is that images are difficult to display and we
usually do not attempt to display them. 

<p>If you want to see the static page,
you have to go to the location of that page - indirectly by going to the front page and navigating
to the page using the indexes - or directly if you know the URL, like www.population-awareness.net/India.html
<p>
Once a webpage has been modified by a volunteer, it goes to the admin for approval, and is
then FTP'd as a static page to the public area (in otherwords, it is 'published'). 
When a section editor makes changes, the
page may advance to the public area immediately.
</font>
</blockquote>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>