[STD_ITEM_TOP]
<center><font size=2 face=verdana>
[ALINK]
<b>
[headstyle]
[headline]
[endheadstyle]
</b></a></font>
<br>
<font size=1 face=verdana><b>
[srcstyle]
[SRCDATE]
<br>[source]
[endsrcstyle]
</b></font> 
</center>
<font size=1 face=verdana>
[bodystyle]
[body]
[endbodystyle]
</font>
<a href=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl?display%login
%[docid]
%[thisSectsub]"><img src=
[REDARROW]
 alt="[docid]" border=0 vspace=4 height=2 width=2></a>
