<p>
<table bgcolor="CCCCCC" width=100%><td><font size=1 face=verdana><b>userID [userid] </td>
       <td><font size=1 face=verdana><b>docid [docid] </td>
       <td><font size=1 face=verdana><b>created 
[SYSDATE]
</td>
       <td><font size=1 face=verdana>&nbsp;&nbsp;<b>in sections: </td><td><font size=1 face=verdana>
[JUSTSECTSUBIDS]
</td></table>

[TEMPLATE=stdItem]
</font></center></td></table></center>
<p>
<font face="comic sans ms" size=2>
<b>Notes/remarks:</b></font></font>
[note]
<br>
<font face="comic sans ms" size=2><b>FullArticle:</b></font><br><font face=verdana size=1>
[FULLBODY]
</font><a href=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl?display%login%[docid]">
<img src=
[REDARROW]
 alt="[docid]" border=0></a>
[endItemformat]