<html>
<head>
<title>Autosubmit WOA!! Population Awareness</title>
</head>

<body bgcolor="ffffff" link="#555555" vlink="#555599" alink="#990033"
background="woabg.gif">
<center><font size=5 color="808080">World Population Awareness</font>
<br><font size=1 face="comic sans ms">
[TODAY]
</font></center>
<p>
<b><font size=4 face=Arial>
[HEADLINE_PERIOD]
</font></b></a>&nbsp;
<p>
<font size=1 face=arial>[srcstyle] 
[SRCDATE]
[SOURCE] 
[endsrcstyle]</font>
<p>
<br>
[FULLBODY]
<a href=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl?display%login
%[docid]"><img src=
[REDARROW]
 alt="[docid]" border=0 vspace=4 height=2 width=2></a>