<table border=1 cellspacing=0 cellpadding=5 bordercolor=#AFOF00 align="right"> 

<td> <font face=verdana size=1>  

<A target="main" HREF="impacts.html#index"><b>Impacts Overview</b></a> <br> 

<A target="main" HREF="globalWarming.html"><b>Global Warming</b></a> <br> 

<A target="main" HREF="globalWarming.html#methane"><b>Methane</b></a> <br> 

<A target="main" HREF="globalWarming.html#airPollution"><b>Air Pollution</b></a> <br> 

<A target="main" HREF="impact.html#pollution"><b>Pollution</b></a> <br> 

<A target="main" HREF="water.html"><b>Water</b></a> <br> 

<A target="main" HREF="impact.html#oceans"><b>Oceans</b></a> <br> 

<A target="main" HREF="impact.html#biodiversity"><b>Species Extinction</b> </a> <br> 

<A target="main" HREF="impact.html#nitrogen"><b>Too Much Nitrogen</b></a> <br> 

<A target="main" HREF="impact.html#deforestDesertify"><b>Desertification</b></a> <br> 

<A target="main" HREF="agriculture.html"><b>Food & Water Shortages</b></a> <br> 

<A target="main" HREF="impact.html#overcrowding"><b>Overcrowding</b></a> <br> 

<A target="main" HREF="impact.html#gmFood"><b>Genetically Modified Food</b></a> <br> 

<A target="main" HREF="impact.html#disease"><b>Disease & Health Hazards</b></a><br> 

<A target="main" HREF="impact.html#new"><b>News</b></a>     

