<head>
<title>Global Warming - World Population Awareness</title>
<SCRIPT LANGUAGE="JavaScript">
<!--
var co2=1;

function increaseCo2() {
        co2=co2+177;
        v=parseInt(co2);
        document.statfrm.co2.value = v;
 
        setTimeout("increaseCo2()",250); }

//-->
</SCRIPT>
</HEAD>


<body onLoad="increaseCo2()" bgcolor="ffffff" link="#006000" vlink="#000080"
alink="#000080"  background="woabg.gif">
<blockquote>

<p>
<TABLE cellpadding=10 cellspacing=0>
<TR>
[TEMPLATE=logo]
<center><font size=6 color="808080">[cTitle]</font></center>

<TR><TD>

  <table bgcolor=#000000 cellpadding=0 cellspacing=0>
  <td>
     <table cellpadding=2 cellspacing=0><td>
       <img src="warming.jpg" alt="Global Warming" align=left 
        valign=bottom width=306 height=200>
  </td><td>&nbsp;&nbsp;&nbsp;</td><td> 
       <font color=#F0BC05 face=arial size=2>
       "Today, for every one of the more than 5.8 billion people on Earth
       nearly six tons of carbon dioxide are spewed into the air annually. 
       As a result of our activities, the atmospheric concentration of this 
       heat-trapping gas has risen by more than 30 percent."
       &nbsp; &nbsp;</font>
       <a target=_top href="http://www.edf.org/pubs/Brochures/GlobalWarming">
       <font color=#F0BC05 size=1 face=verdana>Environmental Defense
       Fund</font></a>
   
       <FORM NAME="statfrm" METHOD=POST ACTION="">
       <font color=#F0BC05 face=arial size=2>
       Since loading this page, </font
       <font face=arial size=3>
       <INPUT TYPE="TEXT" NAME="co2" VALUE="" SIZE=6 MAXLENGTH=6></font>
         <font face=verdana size=1 color=#F0BC05>metric tons of </font>
         <font size=2 color=#F0BC05><b>CO2</b></font>
         <font face=verdana size=1 color=#F0BC05>were emitted
         (708 tons/sec)</b></font>
       </FORM>
     </td></table>
  </td></table>
  </TD></TABLE>
<BLOCKQUOTE>