<br><br>
[TEMPLATE=select_top]
<a name=[cSubid]></a>
<p>
<center> <font size=7 color="#C0C0C0"><b> [cTitle] </b></font>
<font size=7 color="#C0C0C0"><b> [cTitle2nd] </b></font> 
<br><font size=1 face=verdana>
[TODAY]
</font></center>
<p>
<blockquote>
<font face=verdana size=1>
Feel free to browse these potential headlines for WOA!!s News Digest. 
Sadly, the links and references to these articles will disappear
unless the articles are summarized.If you would like to help facilitate 
research on information about population and the environment by summarizing one or more of the following articles, <a href=#instructions>click here.</a> 
</font>
