<body bgcolor="ffffff" link="#663300" vlink="#AA3838" alink="#AA3838">

<table width=90%>
<td>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</td>
<td valign=top align=left><img src="India_logo.gif"></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td align=right valign=top>
   <table cellpadding=0 cellspacing=0>
   <tr><td><img src="woaLogoAN.gif"></td>
   <tr><td><center><a target=_top   
       href="http://www.overpopulation.org">
       <font face=arial size=1 color="#000000">

      <b>Home</b></a></center>
   </td></table>
<p><br>
<p>
<font size=6> Population & <br>Sustainability<br> Dynamics</font>

</td></table>

<blockquote>
<p>

  <table border=2 width=150 cellspacing=0 cellpadding=10 align=right
bordercolor="336699"><td>
  <font size=1 face=verdana><b>
  <a target=main href=#overview>Overview</a> </br>
  <a target=main href=#news>India in the News</a> </br>
  <a target=main href="IndiaNews.html">News Archives</a> </br>
  <a target=main href=#repro>Reproductive Health</a> </br>

  <a target=main href=#clark>Population Growth & &nbsp;
      &nbsp;Development</a>
   </br>
  <a target=main href=#connections>Connections</a> <br>
  <a target="main" href="indiaForum.html">India Forum</a> <br>

  <a target=main href="pop-sustainability.html#success">Success
     Stories</a> </br>
  <a target=main href=#contacts>Contacts and Emails</a> <br>
  </b></font>
  </td></table>


<a name=overview></a>
<p>
India has one billion people in a country one-fourth the size of the U.S - 329 million square kilometres of land area. Only half of it is used for agriculture. A quarter of it is degraded. Crop yields in India are are a fifth to tenth of international yields. India has varied agro-climatic zones, good rainfall and sunshine all through the year. The annual rainfall is 400 million hectare meters -- four times the annual requirement. Yet only 86% of the urban population and 69% of rural population have access to drinking water. India has large energy resources -- coal, gas-hydrates, deepwater oil and gas,
hydro electric power, etc. Only a fraction of these are exploited. India uses less than 1% of it's coal reserves of 70 billion tonnes. Hydro electric power generation capacity is only one tenth of its 180,000 mega-watt potential. India has 8% of the world's biodiversity. Of the 81,000 species of fauna and 47,000 species of flora, 15,000 are unique to India.  


<table border=0 cellspacing=0 cellpadding=0 align=right hspace=10>
<tr><td align=right> <img src="indiaPeopleMap.jpg" border=0 hspace=0></td>
<tr><td>&nbsp;</td>
<tr><td align=right> <img src="IndiaKids.jpg" border=1 hspace=0
alt="www.imagesoftheworld.org"></td>
<tr><td align=center valign=top> <font face=verdana size=1 color=#808080>India Kids</font> ..<a target="_top" href="http://www.imagesoftheworld.org"><font face=verdana size=1 color=#808080>www.imagesoftheworld.org
</font></a></td>
</table>