<body bgcolor="FFFFFF" link="#006000" vlink="#000080" alink="#000080">

<form method="post" name="" action=
"http://[SCRIPTPATH]/article.pl">
<input type="hidden" name="from" value="login">
<input type="hidden" name="cmd"  value="processlogin">
<input type="hidden" name="docid" value="[docid]">

<p>
<center>
<TABLE width=400 border=5 cellspacing=2 cellpadding=20 
bordercolor=#AFOF00>
<TD colspan=2>
<center>
<font face="comic sans ms" size=3>WOA!! Volunteer Login</font>
</center>
<p>

<p><ul><font size=1 face=verdana>
If you have not yet signed up <a href="http://[PUBLICURL]/volunteers.html">click here</a>
for the volunteer signup.
</font></ul>

<p><ul><font size=1 face=verdana>
If you forgot your password or userid, please email us at [contactemail] - however, 
if you have a different email address, please <a href="http://[PUBLICURL]/volunteers.html">reapply.</a>

</font></ul>

<!--
<p>
<center><table border=1 width=93% cellspacing=0 cellpadding=3 bgcolor=#c6cede><td>
<font size=2 face="comic sans ms">Note: I have simplified this login. I hope you like it. ... Karen
</td></table></center>
-->
<p><br>
<table>
<tr>
<td colspan=4>
<font size=1 face="verdana">
Please enter your</font></td>
<tr>

<td valign=top><font size=2 face=arial> User ID:</font>

</td>

<td valign="top">  <input type="input" name="userid" size="15" maxlength="15" value="[userid]"></font>
</td>

<td valign="top"><font size=2 face=arial> &nbsp;&nbsp;& password:</font>

</td>

<td valign=top>  <input type="password" name="pin" size="10" maxlength="10"></font>
</td>
<tr><td align=center colspan=4><font size="1" face="arial">(both case sensitive)</font></b>
</table>



<p>


<font size="2" face="arial">
<input type="radio" name="action" value="update" checked> Summarize (or update) this item: <br>
<font size=1 face=arial> [docid] </font>
<b>"[headline]"</b><br>
<input type="hidden" name="thisSectsub" value="[thisSectsub]">
<input type="hidden" name="sectsubs" value="[sectsubs]">
<input type="hidden" name="headline" value="[headline]">
<p>
<input type="radio" name="action" value="new"> Suggest a new article &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<input type="radio" name="action" value="dev"> Clone to test
<p>
<input type="submit" value="GO" name="submit"></font></center>




</TD></TABLE></center>

</form>
</body>
</html>