<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"	xml:lang="en">
<head>
  <title>Maidu Article Submission</title>
  <style>
  html {background-color:#969;}
  body {margin-left: 40px; margin-right: 60px; font-size: 1.0em; color: #050505; background:#eee;}
  h1   {font-family:arial;font-size:22px;font-weight:bold;color:##712E82;text-align:center;}
  h2   {font-family:arial;font-size:20px;font-weight:bold;color:##712E82;text-align:left;padding-top:10px;}
  h3   {font-family:arial;font-size:19px;font-weight:bold;color:darkblue;text-align:left;padding-top:10px;}
  h4   {font-family:arial;font-size:19px;font-weight:bold;color:darkblue;text-align:left;padding-top:10px;}
  h5   {font-family:arial;font-size:17px;font-weight:bold;color:darkred;text-align:left;padding-top:10px;}
  b    {font-family: verdana;font-size:12px;font-weight:bold;}
  table tr td {font-size:100%;}
  span  {font-family:verdana; font-size:10px;}
  label {font-family:verdana; font-size:12px; font-weight:bold;}
  input, textarea {font-size:12px; font-family: arial; border: 1px solid #ccc; background: #fff; }
  select {font-size: 12px; font-family: arial; border: 1px solid #ccc; background: #fff;}
  p     {font-family:arial font-size:12px;}
  .grey {color:#666666;}
  cite {font-family:arial;background:yellow;font-style:normal;}
  </style>
</head>

<body basefont="arial"">

  <div style="margin-left:30px;margin-right:7px;margin-bottom:10px;margin-top:20px;">

    <div style="font-family:geneva;font-size:1.5em;text-align:left;padding-top:20px;"><strong>Maidu Item Submittal</strong><br>
              <span style="color:darkred;">
                [TODAY]<br>
              </span>
    </div>

        <h3>Acceptable HTML:</h3>
    <table><tr><td valign="top" width=55%>
        &lt;a target="_blank" href="http//link.com"&gt;<u style="color:blue;">text</u>&lt;/a&gt; (link)<br>
        &lt;b&gt; <b>bold</b> &lt;/b&gt;  <br>
        &lt;h3&gt; <h3 style="display: inline;">headline</h3> &lt;/h3&gt;<br>
        &lt;h5&gt; <h5 style="display: inline;">smaller headline</h5> &lt;/h5&gt; <br>
        &lt;i&gt; <i>italics</i> &lt;/i&gt; <br>
        &lt;li&gt;<li>bulleted item &lt;/li&gt;</li>
        &lt;cite&gt; <cite>cite</cite> &lt;/cite&gt; (highlighted text)<br>
        &lt;iframe>embedded code for YouTube video&lt;/iframe&gt;<br>
        Use two line breaks between paragraphs
      </td><td valign="bottom" width=45%>
        <div style="width=400px;font-family:geneva;font-size=2em">Note, In the column below you can see how it was rendered,
                except the font family, color, etc, are not the same as what you will see on the Maidu webpage</div>
      </td></tr><table>

        <br>


    <h2>Home page left column:</h2> (not completed)<br>
        <form method="post" id="block123456" name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="123456">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="25" maxrows="300" cols="100">[BODY=]</textarea>
        <input type=submit value="SUBMIT" name="submit">
        </form><br>

    <h2>Home page middle current newsletter:</h2> <br>

<table><tr><td valign="top">
        <form method="post" id="block031759" name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="031759">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="10" maxrows="300" cols="100">
[BODY=031759]</textarea>
        <input type=submit value="SUBMIT" name="submit">
         </form><br>
     </td><td valign="top">
         <iframe src="http://www.overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display%straight%031759"></iframe>
</td></tr></table>

    <h2>Home page middle main:</h2> <br>

    <table><tr><td valign="top">
        <form method="post" id="block031785" name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="031785">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="25" maxrows="300" cols="100">
          [BODY=031785]</textarea>
        <input type=submit value="SUBMIT" name="submit">
        </form><br>
      </td><td valign="top">
        <iframe src="http://www.overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display%straight%031785" width="400" height="400"></iframe>
      </td></tr></table>


    <h2>Home page middle bottom:</h2> (not completed)<br>

        <form method="post" id="article" name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="123456">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="25" maxrows="300" cols="100">[BODY=]</textarea>
        <input type=submit value="SUBMIT" name="submit">
        </form><br>

    <h2>Home page right top:</h2> (not completed)<br>

        <form method="post" id="article" name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="123456">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="15" maxrows="300" cols="100">[BODY=]</textarea>
        <input type=submit value="SUBMIT" name="submit">
        </form><br>

    <h2>Home page right meetings:</h2> (not completed)<br>

        <form method="post" id="article" name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="123456">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="15" maxrows="300" cols="100">[BODY=]</textarea>
        <input type=submit value="SUBMIT" name="submit">
        </form><br>


    <h2>Home page right newsletters:</h2> <br>

    <table><tr><td valign="top">
        <form method="post" id="block031770 " name="article" action=
        "http://[SCRIPTPATH]/article.pl">
        <input type="hidden" name="docid" value="031770">
        <input type="hidden" name="sectsubs" value="soloitems_Item">
        <input type="hidden" name="cmd" value="maiduUpdtItem">
        <input type="hidden" name="ipform" value="MaiduUpdate">
        <input type="hidden" name="template" value="straight">
        <textarea name="body" wrap="soft" rows="15" maxrows="300" cols="100">
        [BODY=031770]</textarea>
        <input type=submit value="SUBMIT" name="submit">
        </form><br>
      </td><td valign="top">
        <iframe src="http://www.overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display%straight%031770" width="400" height="400"></iframe>
      </td></tr></table>



  <h2>Home page right community activities:</h2> <br>

  <table><tr><td valign="top">
      <form method="post" id="block031786" name="article" action=
      "http://[SCRIPTPATH]/article.pl">
      <input type="hidden" name="docid" value="031786">
      <input type="hidden" name="sectsubs" value="soloitems_Item">
      <input type="hidden" name="cmd" value="maiduUpdtItem">
      <input type="hidden" name="ipform" value="MaiduUpdate">
      <input type="hidden" name="template" value="straight">
      <textarea name="body" wrap="soft" rows="25" maxrows="300" cols="100">
      [BODY=031786]</textarea>
      <input type=submit value="SUBMIT" name="submit">
      </form><br>
    </td><td valign="top">
      <iframe src="http://www.overpopulation.org/cgi-bin/cgiwrap/popaware/article.pl?display%straight%031786" width="400" height="400"></iframe>
    </td></tr></table>

  

  <h2>Home page right bottom:</h2> (not completed)<br>

      <form method="post" id="article" name="article" action=
      "http://[SCRIPTPATH]/article.pl">
      <input type="hidden" name="docid" value="123456">
      <input type="hidden" name="sectsubs" value="soloitems_Item">
      <input type="hidden" name="cmd" value="maiduUpdtItem">
      <input type="hidden" name="ipform" value="MaiduUpdate">
      <input type="hidden" name="template" value="straight">
      <textarea name="body" wrap="soft" rows="20" maxrows="300" cols="100">[BODY=]</textarea>
      <input type=submit value="SUBMIT" name="submit"><br>
    </form><br>

    </div>
  </body>
  </html>
