<html><!-- #BeginTemplate "/Templates/Sierra Club.dwt" -->
<head>
<!-- #BeginEditable "doctitle" --> 
<title>Population Page - Sierra Club Motherlode Chapter: Serving 24 Counties in Northern and Central California</title>
<!-- #EndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">

<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && document.getElementById) x=document.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->

</script>
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" 
onLoad="MM_preloadImages('images/sc_btn1-over.jpg','images/sc_btn2-over.jpg','images/sc_btn3-over.jpg','images/sc_btn4-over.jpg','images/sc_btn5-over.jpg','images/sc_btn6-over.jpg','images/sc_btn7-over.jpg','images/sc_btn8-over.jpg','images/sc_btn9-over.jpg','images/sc_btn10-over.jpg','images/sc_btn11-over.jpg','images/sc_btn12-over.jpg','images/sc_btn13-over.jpg')" 
link="0D8836" vlink="6980a0" alink="353878">

<!-- TOP of PAGE //-->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td colspan="3" valign="top" align="left"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="482" height="111" background="images/bkgrnd_top.jpg"><img src="images/sc_topleft.jpg" width="482" height="111"></td>
          <td width="100%" background="images/bkgrnd_top.jpg"> 
            <div align="left"><img src="images/sc_topright.jpg" width="268" height="111"></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- START OF THREE SECTION TABLE (left, middle, right) //-->

<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
  
<!-- LEFT COLUMN MENU - MLC site //-->

 <TD width="135" valign="top" align="left" valign=top>
    
     
    <table width = 135 border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="left" valign="top"><a href="outings.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','images/sc_btn1-over.jpg',1)"><img name="Image3" border="0" src="images/sc_btn1.jpg" width="133" height="35"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="calendar.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','images/sc_btn2-over.jpg',1)"><img name="Image4" border="0" src="images/sc_btn2.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image5','','images/sc_btn3-over.jpg',1)"><img name="Image5" border="0" src="images/sc_btn3.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="groups_sections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','images/sc_btn4-over.jpg',1)"><img name="Image6" border="0" src="images/sc_btn4.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="action_alerts.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','images/sc_btn5-over.jpg',1)"><img name="Image7" border="0" src="images/sc_btn5.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="volunteer.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','images/sc_btn6-over.jpg',1)"><img name="Image8" border="0" src="images/sc_btn6.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="conservation.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','images/sc_btn7-over.jpg',1)"><img name="Image9" border="0" src="images/sc_btn7.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="bonanza_online.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','images/sc_btn8-over.jpg',1)"><img name="Image10" border="0" src="images/sc_btn8.jpg" width="133" height="29"></a></td>
        
        <tr> 
          <td align="left" valign="top"><a href="protect_wildlife.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image11','','images/sc_btn9-over.jpg',1)"><img name="Image11" border="0" src="images/sc_btn9.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="challenge_sprawl.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','images/sc_btn10-over.jpg',1)"><img name="Image12" border="0" src="images/sc_btn10.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="population.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','images/sc_btn11-over.jpg',1)"><img name="Image13" border="0" src="images/sc_btn11.jpg" width="133" height="29"></a></td>

        <tr> 
          <td align="left" valign="top"><a href="resources_links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','images/sc_btn12-over.jpg',1)"><img name="Image14" border="0" src="images/sc_btn12.jpg" width="133" height="27"></a></td>

        <tr>
          <td align="left" valign="top" height="45"><a href="index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','images/sc_btn13-over.jpg',1)"><img name="Image17" border="0" src="images/sc_btn13.jpg" width="133" height="45"></a></td>

      
       </td></table>
      
      


