<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style>h6 {font-size:1.6em; margin-bottom: 3px; margin-top: 5px;}</style>

</head>
<body>
<div style="background-color:#EED2EE;margin-right:6px;font-family:arial;font-size:1.3em">
<p class="comic"><b>
Your item has been submitted </b></p> 
<small> <b>docid</b>&nbsp; [docid] &nbsp; <b>created</b> [sysdate] &nbsp; <b>sorted on date: </b>[pubdate]&nbsp; <b>in list:</b> [sectsubs]&nbsp;
<br><br>
<div style="background-color:#ffffff;margin-left:6px;margin-top: -5px; margin-right:6px;">
[OWNERTEMPLATE=EventItem]
</div><br><br>
<b>Please do not hit your 'Back button' to correct mistakes. You can correct your item on the next page if correction is needed. <a href="[REFRESH_URL]">Click here</a> to go to the next page.</b>
</div>
</body>
</html>
