	
<div style="margin-left:10px;margin-right:7px;margin-bottom:10px;">  
	
	<form method="post" id="article" name="article" action=
	"http://[SCRIPTPATH]/article.pl">
	<input type="hidden" name="cmd" value="storeform">
	<input type="hidden" id="userid" name="userid" value="[userid]">
	<input type="hidden" id="sysdate" name="sysdate" value="[sysdate]">
	<input type="hidden" id="docid" name="docid" value="[docid]">
	<input type="hidden" id="sectsubs" name="sectsubs" value="[sectsubs]">
	<input type="hidden" id="thisSectsub" name="thisSectsub" value="[thisSectsub]">
	<input type="hidden" id="owner" name="owner" value="[owner]">
	<input type="hidden" name="ipform" value="ownerUpdate">
	
<!-- STYLE, PRIORITY, REGIONS TABLE       onChange="if (type(this.selectedIndex) != "undefined") moveSectsub(); -->           
<br>
<div>[OWNERCHANGEADD]</div><br>
<table width="100%"><tr><td>

   <strong class="red">1. </strong><label for="ownersectsub">List</label>&nbsp;<cite>Which list is it on?</cite><br>
		<select id="ownersectsub" name="ownersectsub">
		[OWNER_SECTIONS]	
		</select><br>
	</td>
	<td width="20px">&nbsp;</td>
	<td>

	<!-- - - PUB DATE  - - - - -->
	<table width="350px"><tr><td width="200px">
		<strong class="red">2. </strong><label for="pubmonth">Date</label><br>
		<select id="pubmonth" name="pubmonth">
		[PUBMONTHS]
		</select>
		<input type="text" id="pubday" name="pubday" size="3" maxlength="2" value="
		[PUBDAY]
		">
		<select id="pubyear" name="pubyear">
		[PUBYEARS]
		</select>
	    </td><td valign="bottom">
	    <cite>Sorts items in date order. 
	    <br>Does not appear on web page</cite></td>
	    </tr></table>

      </td>



</tr></table>

<br>
<!--- HEADLINE -->
<table>
<tr><td valign="bottom">
<strong class="red">3. </strong><b>Header:</b>&nbsp;&nbsp; <span style="font-family:arial;font-size:82%">i.e: April 30 Thurs - ECOS Showing of Mother</span>
</td> </tr></table>
<input type="input" id="headline" name="headline" size="100" maxlength="200" value="[headline]">
<br><br>

<!---  BODY -->
<strong class="red">4. </strong><label for='body'>Body:</label> &nbsp;   
	<span style="font-family:arial;font-size:82%">i.e: 6:30pm Room SH111, Science Building, Sierra College, Rocklin </span><br>
    <textarea id="body" name="body" wrap="physical" rows="6" maxrows="150" cols="100">[body]</textarea>

<!--- LINK AREA -->
<br><br>
<strong class="red">5. </strong><b>Link to event website, if needed:</b>
  <br>
<input type="input" id="link" name="link" size="100" maxlength="200" value="[link]">
<br><br>

<table><tr>
<td>
<strong class="red">6. </strong><label for='userid'>Userid</label><br>
<input type="input" name="userid" size="6" maxlength="10" value="[userid]">
</td><td>
<label for='password'>password</label>
<br>
<input type="password" id="pin" name="pin" size="6" maxlength="10">&nbsp;&nbsp;&nbsp;
</td><td>&nbsp;&nbsp;&nbsp;</td>
	<td> <strong class="red"> 7. </strong><input type=submit value="SUBMIT" name="submit" style="background-color:#ddd;font-weight:bold;">
	</td>
</tr></table>
</form>
<br>
</div>