<title>WOA!! Recent Articles List</title>
<body basefont=arial link="blue" vlink="blue"
alink="green"  background="greentextureBG.jpg">
<blockquote>
<p>
<table cellpadding=0 cellspacing=0 align=right><tr><td><img src="woaLogoAN.gif" hspace=20></td>
<tr><td><center>
   <table cellpadding=0 cellspacing=0><td><a target=_top   
    href="http://www.[CGISITE]"><font face=arial size=2 color="#000000">
    <b>Home</b></a>&nbsp;&nbsp;</td></table>
</td></table>

<center>
   <b><font size="5" face=arial>
     WOA Article/Item Upload/Update List<br></font></b>
   <font size=1 face="comic sans ms"><i>
[TODAY]
   </i></font>
</center>
<p>
[LIST=recent;TEMPLATE=recentItem]
<p>
<br>
<br>