<p>
[STD_ITEM_TOP]
<font size=1 face=arial>[docid]</font>&nbsp;
[ALINK]
<font size=2 face=arial><b>[headline]</b></font></a>
<font size=1 face=arial>[srcstyle] 
[SRCDATE]
&nbsp;[source] [endsrcstyle]</font>
<br>[body]
&nbsp;<font size=1 face=arial> [COMMENT]</font>

<br><font size=1><b>priority:</b> [priority] <b>region:</b> [region] <br><b>sumAcct:</b> [sumAcctnum] <b>handle:</b> [handle] 
<b>in sections:</b> [sectsubs] <b>sysdate:</b> [sysdate]</font>
<br>Note: [NOTE]
 &nbsp;
<a href=
"http://www.[CGISITE]/cgi-bin/cgiwrap/popaware/article.pl?display%login
%[docid]
%[thissectsub]"><img src=
[REDARROW]
 alt="[docid]" border=0 height=4 width=4></a>
