<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<!-- { MOVEWEBPAGE2MINS } -->
<link rel="stylesheet" type="text/css" href="http://[PUBLICURL]/css/woa_mauveindex.css" media="Screen">
</head>
<body>
<br /><br />
<b>Please do not hit your 'Back button' to correct mistakes. This causes problems. <br>
If you hit your back button twice to come back in through the login screen, that is OK.</b>
<br /><br />
Back to: <a href="http://[PUBLICURL]/php/viewautosubmit.php?article.pl?display_section%%fly%Headlines_sustainability%%[userid]">Headlines </a> 
<!-- Back to: <a href="http://[SCRIPTPATH]/article.pl?display_section%%fly%Headlines_sustainability%%[userid]">Headlines </a> -->
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="http://[SCRIPTPATH]/article.pl?display_section%%fly%Volunteer_newArticle%%[userid]">
New Article</a>&nbsp;&nbsp; | &nbsp;
<!-- { MOVEWEBPAGE } -->
<br>
<p class="comic"><b>
Your item has been submitted </b></p> 
<small>   
<b>userID [userid]</b> &nbsp;&nbsp; <b>docid</b>
[DOCLINK]
&nbsp; &nbsp;<b>created</b> [sysdate] &nbsp; &nbsp;<b>region:</b> [region]<br>
<b>in sections:
[JUSTSECTSUBIDS]

[TEMPLATE=newsitem]
</small>
<p>
<b>Notes/remarks:</b>
[note]</p>
<br><br><br>
[SHOWSECTSINFRAMES]

</body>
</html>