<p>
<TABLE><TD width=50% valign=top  cellpadding=0 cellspacing=0>

<font size=1 face=arial><b>#[pgitemcnt]</b> ... [docid]

  <font face=verdana size=2 color="#666666">&nbsp;&nbsp;&nbsp;<b>Headline</b> &nbsp;
  <input name="titlize[pgitemcnt]" type=checkbox value="Y">
  <font size=1 face="comic sans ms"> Titlize </font>
  
  <font size=1 face=verdana>
  <textarea name="headline[pgitemcnt]" wrap="physical" rows=2 cols=60">[headline]</textarea>
  </font>
[REDARROW]
 
<input type="hidden" name="docid[pgitemcnt]" value="[docid]">

<br><font size=1 face=arial>
<textarea name="fullbody[pgitemcnt]" wrap="physical" rows=20 maxrows=300 cols=62>
[fullbody]
</textarea>
</font> 

<br>
  <font face=verdana size=1 color="666666"><input type=submit value="GO" name="submit[pgitemcnt]"
onClick="parent.dropdowns.useridPush(document.itemsSelect.userid,
document.itemsSelect.pin)"></font>

 &nbsp;<font face=verdana size=2 color="#666666">
 <b>Misc info</b>&nbsp; <font size=1>
  <input type="text" name="miscinfo[pgitemcnt]" size=65 maxsize=100 value="[miscinfo]">
 
 
</TD><TD>&nbsp;</TD><TD width=50% valign=top>
[ALINK]
<font face=verdana size=2" color="#666666">  
    <b>Link</b></font></a> &nbsp;
   <font size=1 face=verdana>
    <input name="selflink[pgitemcnt]" type=checkbox value="Y">
  <font size=1 face="comic sans ms"> self </font>
  </font>

  &nbsp;<font face=verdana size=2 color="#666666">
<b>PubDate: </b></font>
&nbsp;
<font face=arial size=1>
<select name="pubmonth[pgitemcnt]">
[PUBMONTHS]
</select>

<input type="text" name="pubday[pgitemcnt]" size="3" maxlength="2" value="
[PUBDAY]
">
<select name="pubyear[pgitemcnt]">
[PUBYEARS]
</select></font>

  <br><font size=1 face=verdana>
         <input type="text" name="link[pgitemcnt]" size="63" maxlength="200" value="[link]">

<table><td>
<font size=1 face=verdana  color="#666666">
<b>Priority</b></font><br>
<font size=1 face=arial>
  <select size=4 name="priority[pgitemcnt]" 
  onClick="document.itemsSelect.sectsubs[pgitemcnt].value = 'Headlines_sustainability'"
  onBlur="sourcePush(document.itemsSelect.source[pgitemcnt])"
  onChange="sectsubsPush(document.itemsSelect.sectsubs[pgitemcnt])">
  <option value="D">D</option>
  <option value="_">_</option>
  <option value="6">6</option>
  <option value="5">5</option>
  <option value="4">4</option>
  <option value="3">3</option>
  <option value="2">2</option>
  <option value="1">1</option>
  </select>
</font>

</td><td>&nbsp;</td><td valign=top>


  <font face=verdana size=2 color="#666666">
  <b>Region</b> </font>
  
[LIKELYREGIONS]
  
  <font size=1 face=verdana color="#666666">&nbsp;
      <input type="checkbox" name="regionhead[pgitemcnt]" 
[REGIONHEAD]
    value="Y"> <font size=1 face="comic sans ms" color=#666666>Headline</font>
  
      &nbsp;&nbsp;
      
  <input name="regionpull[pgitemcnt]" type=radio value="" 
  onClick="parent.dropdowns.regionChoose(document.itemsSelect.region[pgitemcnt])">
   </font><font size=1 face="comic sans ms" color=#666666> pull
    &nbsp;&nbsp;
    <input type="checkbox" name="addregion[pgitemcnt]" value="Y"> 
      <font size=1 face="comic sans ms" color=#666666>add</font>
    <br>
  <font size=1 face=verdana>
<input type="text" name="region[pgitemcnt]" size="53" maxlength="150" value="
[REGION]
">
  
</td></table>
 

<br>
  <font face=verdana size=2 color="#666666">
  <b>Source</b> </font>&nbsp;&nbsp;
    <font size=1 face=verdana color="#666666">
  <input name="sourcelink[pgitemcnt]" type=radio value="Y">&nbsp;Get source from link <input name="sourcelink[pgitemcnt]" type=radio value="N" checked="checked">&nbsp;Clear
  
        &nbsp;<input type="checkbox" name="addsource[pgitemcnt]" value="Y"> 
      <font size=1 face="comic sans ms" color=#666666>add</font>
    <br>
  <input type="text" name="source[pgitemcnt]" size="63" maxlength="100" value="[source]"> 

<br>

  <font face=verdana size=2 color="#666666">
  <b>Sectsubs</b> &nbsp;&nbsp;
<br>
  <textarea name="sectsubs[pgitemcnt]" wrap="physical" rows="1" cols=45">[sectsubs]</textarea>


<br>
  <font face=verdana size=2 color="#666666">
  <b>Summarize here:</b> 
  <br>  <font face=verdana size=1>
  <textarea name="body[pgitemcnt]" wrap="physical" rows="9" cols=45">[body]</textarea></font>



   <br>
    <font face=verdana size=2 color="#666666">
  <b>Notation</b>&nbsp; <input type="text" name="note[pgitemcnt]" size=50 maxsize=100 value="[note]">
  
 <br>
  
  
</TD></TABLE>

<hr>

