<p>
<TABLE><TD width=40% valign=top  cellpadding=0 cellspacing=0>

<font size=1 face=arial><b>#[pgitemcnt]</b> ... 
[DOCLINK]

<input type="hidden" id="selitem[pgitemcnt]" name="selitem[pgitemcnt]" value="">	
<input type="hidden" name="pgitemcnt[pgitemcnt]" value="[pgitemcnt]">
  <label>&nbsp;&nbsp;&nbsp;<b>Headline</b></label> &nbsp;
  <input name="titlize[pgitemcnt]" type=checkbox value="Y">
  <cite> Titlize </cite>&nbsp;&nbsp;&nbsp;

  <cite><input type="checkbox" name="regionhead[pgitemcnt]" 
[REGIONHEAD]
   value="Y"> <cite>Region in headline</cite>
<!-- *REDARROW* -->
  <textarea name="headline[pgitemcnt]" wrap="soft" rows=2 cols="80">[headline]</textarea>

<input type="hidden" name="docid[pgitemcnt]" value="[docid]">
<label for="subheadline">Subhead:</label>
<input type="text" name="subheadline" size="80" maxlength="400"
value="
[subheadline]
">
<br>

<label>By:</label>&nbsp;&nbsp;
<input type="text" name="author" size="53" maxlength="150"
value="
[author]
">&nbsp;<input type="checkbox" name="skipauthor" 
[SKIPAUTHOR]
    value="Y"><cite>Skip author</cite>
<input type="checkbox" name="lfx2[pgitemcnt]" value="Y"><cite>LFx2</cite>
<br>

<cite>
<textarea id="fullbody[pgitemcnt]" name="fullbody[pgitemcnt]" wrap="soft" rows=15 maxrows=300 cols=80>
[fullbody]
</textarea>
</cite> 

<br>
  <font face=verdana size=1 color="666666"><input type=submit value="GO" name="submit[pgitemcnt]"></font>
&nbsp;&nbsp;&nbsp;&nbsp;<label for="unique">Unique:</label>&nbsp;
<input type="text" name="unique[pgitemcnt]" size="45" maxlength="50"
value="
[unique]
">
  <input name="clearmisc[pgitemcnt]" type=radio value="N" onclick="setvar('miscinfo[pgitemcnt]','');">Clear misc&nbsp;
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Misc
<textarea id="miscinfo[pgitemcnt]" 
name="miscinfo[pgitemcnt]" rows="2" maxrows="5" cols="70">
[miscinfo]</textarea>

 
</TD><TD width=50% valign=top>
[ALINK]
<label><b>Link</b></label></a> &nbsp;
   <cite>
    <input name="selflink[pgitemcnt]" type=checkbox value="Y"> self &nbsp;&nbsp;

  <a target="_blank" href="[link]">Open url</a></cite>

  &nbsp;<font face=verdana size=2 color="#666666">
<b>PubDate: </b></font>
&nbsp;
<font face=arial size=1>
<select name="pubmonth[pgitemcnt]">
[PUBMONTHS]
</select>

<input type="text" name="pubday[pgitemcnt]" size="3" maxlength="2" value="
[PUBDAY]
">
<select name="pubyear[pgitemcnt]">
[PUBYEARS]
</select></font>

  <br>
 <textarea name="link[pgitemcnt]" wrap="soft" rows=2 cols="70">[link]</textarea>
<!--         <input type="text" name="link[pgitemcnt]" size="75" maxlength="200" value="[link]"> -->

<table><td valign="top">
	
<label><b>Priority</b></label><br><br><br>
  <label><b>Source</b></label>
</td><td valign="top">
  <select size = "4" name="priority[pgitemcnt]" 
  onClick="setvar('sectsubs[pgitemcnt]', 'Headlines_sustainability');setvar('selitem[pgitemcnt]', 'Y')">
	[PRIORITY]
	(7=highest)
   </select>


</td><td valign=top>

  <table><tr><td valign="top">
  <label><b>Region</b></label><br>
        
    &nbsp;&nbsp;<cite>
  <input name="regionlink[pgitemcnt]" type=radio value="C" checked onclick="setvar('region[pgitemcnt]','');">&nbsp;Clear&nbsp;
  <input name="regionlink[pgitemcnt]" type=radio value="P" onclick="loadRegion('region[pgitemcnt]');">&nbsp; Pull &nbsp;
  </cite>
   </td><td>
[LIKELYREGIONS]	
   </td></tr></table>
   <input type="text" id="region[pgitemcnt]" name="region[pgitemcnt]" size="53" maxlength="150" value="
[REGION]
"> 
</td></table>
 
 <cite>
  <input name="sourcelink[pgitemcnt]" type=radio value="Y">From link&nbsp;
  <input name="sourcelink[pgitemcnt]" type=radio value="N" checked onclick="setvar('source[pgitemcnt]','');">Clear&nbsp;
  <input name="sourcelink[pgitemcnt]" type=radio value="P" onclick="loadSource('source[pgitemcnt]');">Pull &nbsp;
  <input type="checkbox" name="addchgsource[pgitemcnt]" value="A"> Add &nbsp; Linkmatch:
   <input type="text" id="linkmatch[pgitemcnt]" name="linkmatch[pgitemcnt]" size="14" maxlength="150" value="">
   <input type="checkbox" name="sstarts_with_the[pgitemcnt]" value="T">The &nbsp;
    <br>   </cite>
  <input type="text" id="source[pgitemcnt]" name="source[pgitemcnt]" size="73" maxlength="100" value="[source]"> 


<br>

  <label>Sectsubs</label> &nbsp;
<small><cite><input name="sspull[pgitemcnt]" type=radio value="N" onClick="setvar('sectsubs[pgitemcnt]', 'NewsDigest_NewsItem')">News &nbsp
	     <input name="sspull[pgitemcnt]" type=radio value="S" onClick="setvar('sectsubs[pgitemcnt]', 'Suggested_summarizedItem')"> Sum &nbsp
        <input name="sspull[pgitemcnt]" type=radio value="A" onclick="loadSectsub('N','sectsubs[pgitemcnt]');">Reg &nbsp;
        <input name="sspull[pgitemcnt]" type=radio value="B" onclick="loadSectsub('C','sectsubs[pgitemcnt]');">Country &nbsp;
        <input name="sspull[pgitemcnt]" type=radio value="C" onclick="loadSectsub('A','sectsubs[pgitemcnt]');">Admin &nbsp;
	    <input name="sspull[pgitemcnt]" type=radio value="c" onClick="setvar('sectsubs[pgitemcnt]', '')"> Clear &nbsp
</cite></small>
<br>
  <input type="text" id="sectsubs[pgitemcnt]"  name="sectsubs[pgitemcnt]" size="73" maxlength="200" value="[sectsubs]">


<br>
  <label>Summarize here:</label> 
	<input type="radio" name="getfullbody" value="A" 
	   onclick="var2var( 'body[pgitemcnt]',
	'fullbody[pgitemcnt]');"><cite>Get full article</cite>
  <br>
  <textarea id="body[pgitemcnt]" name="body[pgitemcnt]" wrap="soft" rows="7" cols=70">[body]</textarea>



   <br><label><small>Comment</small></label><br>
    <textarea id="comment[pgitemcnt]" name="commet[pgitemcnt]" wrap="soft" rows="2" cols=70">[comment]</textarea> 
	<br><label>Note</label>&nbsp; <input type="text" name="note[pgitemcnt]" size=65 maxsize=300 value="[note]">
 
</TD></TABLE>

<hr>

