<html>
<head>
<title>[cTitle]</title>
</head>
<body>
	
<form method="post" name="itemsSelect" action=
"http://[SCRIPTPATH]/article.pl">
<input type="hidden" name="cmd" value="selectItems">
<input type="hidden" name="thisSectsub" value="[thisSectsub]">
<input type="hidden" name="ipform" value="itemsSelect">
<small>ID</small><input type="input" name="userid" size="5" maxlength="10" value="[userid]">&nbsp;
<small>pwd</small><input type="password" name="pin" size="5" maxlength="10" value="">
<br><h3>[cTitle]</h3>