<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title>WOA!! Article Submission</title>
<style>
	html {background-color:#969; margin: 20px;}
	body {margin: 5px; padding: 10px; font-size: 1.0em; font-family: sans-serif, arial; color: #000; background-image:newspaperBG2.gif;}
</style>	
<body bgcolor="FFFFFF" basefont=arial link="blue" vlink="blue" alink="green">

<blockquote>

<p>
<table cellpadding=0 cellspacing=0 align=right>
<tr><td><center>
   <table cellpadding=0 cellspacing=0><td><a target=_top href=
    "http://[PUBLICURL]">
    <font face=arial size=2 color="#000000">
    <b>Home</b></a>&nbsp;&nbsp;</td></table>
</td></table>

<!--- FORM BEGIN -->

<form method="post" name="article" action=
"http://[SCRIPTPATH]/article.pl"
onSubmit="setControls()">
<input type="hidden" name="cmd" value="storeform">
<input type="hidden" name="sysdate" value="[sysdate]">
<input type="hidden" name="userid" value="[userid]">
<input type="hidden" name="access" value="[access]">
<input type="hidden" name="action" value="new">
<input type="hidden" name="body" value="">
<input type="hidden" name="docid" value="[docid]">
<input type="hidden" name="ipform" value="suggest">
<input type="hidden" name="sectsubs" value="Suggested_suggestedItem">


<center>
   <b><font size="5" face=arial>
     Suggested Article Submittal for WOA!!<br></font></b>
<table><td><center>
   <font size=1 face="comic sans ms">
[TODAY]
<br>
submitter: [firstname] [mi] [lastname]
</font>
</center></td></table></center>
<p>

<font size=2 face=arial><br>
 GUIDELINES: Please give at least a functioning link (URL) to the article and the headline. Suggest only recent articles - not older than 6 months. 
 <p>
Since there are so many articles on population and 
 related side issues, there is no guarantee that suggested 
 articles will be published. Articles are chosen on the basis of their
 relationship to population.
</font>
<p>


<! -------- MAIN TABLE ----->


<!----- HEADLINE & LINK AREA -------->
<br>
<b>Article Link <font size=2>(URL):</b></font>
<font size=1 face="comic sans ms">  &nbsp;(Please provide if a live link is available)</font> <br>
<textarea name="link" wrap="physical" rows="3" cols=95">[link]</textarea>
<p>
<b>Article Headline:</b> &nbsp; &nbsp; <font size=1 face="comic sans ms"> Cut and paste for more accurate results. </font><br>
<textarea name="headline" wrap="physical" rows="3" cols=95">
[headline]</textarea><br>

<! ------------- BODY, COMMENTS, FULL -- 2 COLS ----------->
<p>
    <b>Article:</b> &nbsp;&nbsp;
   <font size=1 face="comic sans ms"> Cut and paste article here</font><br>
    <textarea name="fullbody" wrap="physical" rows="20" cols=95">
Date:
Author:

Entire Article:
</textarea>

<p>

    <b>Notation:</b> &nbsp;&nbsp;
   <font size=1 face="comic sans ms">Your remarks to the editor.</font><br>
    <textarea name="note" wrap="physical" rows="3" cols=95">
    [note]</textarea>
<p>
</font></font>
<p>

<input type=submit value="SUBMIT" name="submit">

<!-- END OF MAIN TABLE -->
</form>

</blockquote>
</body>
</html>