
<p>
  <table border=2 cellspacing=0 cellpadding=10 bordercolor=#AFOF00>
  <td><font face=verdana size=1>
    <A target="main" HREF="solutions.html"> <b> Sustainability </b> </a><br>
    <A target="main" HREF="water.html"> <b> Water </b> </a><br>
    <A target="main" HREF="agriculture.html"> <b> Agriculture & Forests </b>
</a><br>
    <A target="main" HREF="agriculture.html#AgricultureAlternatives"> <b> Agriculture Alternatives</b>
</a><br>
    <A target="main" HREF="energy.html"> <b> Energy, Oil </b> </a><br>
    <A target="main" HREF="energy.html#NaturalGas"> <b> Natural Gas </b> </a><br>
    <A target="main" HREF="energy.html#EnergyAlternatives"> <b> Energy Alternatives</b>
</a><br>
    <A target="main" HREF="energy.html#ThirdWorldEnergy"> <b> Third World Energy </b> </a><br>
    <A target="main" HREF="solutions.html#Minerals"> <b> Minerals/Phosphate </b> </a><br>

    <A target="main" HREF=consumption.html#Overconsumption"> <b> Overconsumption </b> </a><br>
    <A target="main" HREF="sprawl.html"> <b> Sprawl </b> </a><br>
    <A target="main" HREF="consumption.html#CarryingCapacity"><b> Carrying Capacity </b></a><br>
    <A target="main" HREF="consumption.html#Exploitation"><b> Exploitation </b></a><br>
    <A target="main" HREF="consumption.html#shortsightedness"><b> Shortsightedness </b></a><br>
    <A target="main" HREF="solutions.html#Solutions"><b> Solutions </b></a><br>
    <A target="main" HREF="mindset.html#EcoEconomy"><b> Eco-Economy </b></a><br>
    <A target="main" HREF="solutions.html#Links"> <b> Sustainbility Links</b> </a><br>
    <A target="main" HREF="sustainNews.html"> <b> Sustainability News </b> </a><br>
    <A target="main" HREF="sustainNews.html#NewsHeadlines"> <b>Sustainability Headlines </b> </a><br>
    </font>
  </td></table>