<html>
<title>WOA!! [title]</title>
<body basefont=arial link="blue" vlink="blue" alink="green"  bgcolor="FFFFFF">
<p>
<table cellpadding=0 cellspacing=0 align=right>
<tr><td><img src="http://www.[CGISITE]/woaLogoAN.gif" hspace=20></td>
<tr><td><center>
   <table cellpadding=0 cellspacing=0><td><a target=_top href=
    "http://www.[CGISITE]">
    <font face=arial size=2 color="#000000">
    <b>Home</b></a>&nbsp;&nbsp;</td></table>
</td></table>

<center> 
   <b><font size="5" face=arial>
     [title]<br></font></b>
   <font size=1 face="comic sans ms">
[TODAY]
 </font>
</center>
<p>
