/* IE6 - doubled margin bugs, float bugs, and background image bugs, amongst many other bugs. */
/* hand coding by abstract machines. */

#header_inner {
	height:182px;
		background: url('http://abstractmachines.net/client_demo/overpopulation/images/logo_bg2.png') 0 0 repeat;
		}
	
#population_awareness_logo {
	height:150px;
	background: url('http://abstractmachines.net/client_demo/overpopulation/images/logo_mauve_webtiny.png') 0 0 no-repeat;
	margin:0 0 0 0;padding:0 0 0 0; 
	z-index:1000;
	}

#nav {text-align:left;margin:0 0 0 0;padding:0 0 0 0;}
#nav ul#home {width:500px;}

/* tertiary drop down CSS menus: hover display  - IE6 inheritance*/
div#nav ul ul ul	{
	width:200px;height:30px;
	top:10px;}



#threecolwrap {
	background-color:#B8860B;
	background: url('http://abstractmachines.net/client_demo/overpopulation/images/logo_bg2.png') 0 0 repeat;
	padding-bottom:0px;margin-bottom:0px;}	
	
.red_quote {margin:10px 20px 15px 20px;text-align:center;}
	
	#push {height:0px;padding:0 0 0 0;margin:0 0 0 0;} /*end push immediately, empty div */
	#footer {padding-top:0px;margin-top:-18px;}

